In [16]:
import pandas as pd
from datetime import datetime, timedelta, time
import json
# To ignore warnings
import warnings
warnings.filterwarnings("ignore")

In [17]:
today_date = datetime.today().date()
today_date

datetime.date(2024, 12, 9)

# Preparing Emp Availability With Working Flag and Time Remaining

In [61]:
# Testing
# Read the data
path="00_Input/01_Emp_Availability_Initial.xlsx"
df = pd.read_excel(path, names=['Name', 'Responsibility', 'Time in', 'Time out'])
df.head()

path="00_Input/01_Emp_Availability_Initial_csv.csv"
df = pd.read_csv(path, names=['Name', 'Responsibility', 'Time in', 'Time out'])
df.head()
df.iloc[0,3]
# df['Time in'] = pd.to_datetime(df['Time in'], format='%I:%M:%S %p').apply(lambda x: datetime.combine(today_date, x.time()))
# df['Time out'] = pd.to_datetime(df['Time out'], format='%I:%M:%S %p').apply(lambda x: datetime.combine(today_date, x.time()))
# df.head()

'10:00:00 AM'

In [66]:
df.columns
print(df.iloc[1,])

Name              Aidan Priller
Responsibility      Sales Floor
Time in              8:45:00 AM
Time out            10:00:00 AM
Name: 1, dtype: object

## 1. Collect Emp Availability Table and Prepare

In [ ]:
# Read the data
path="00_Input/01_Emp_Availability_Initial.xlsx"
df = pd.read_excel(path, names=['Name', 'Responsibility', 'Time in', 'Time out'])

# Convert 'Time in' and 'Time out' to datetime with today's date
df['Time in'] = pd.to_datetime(df['Time in'], format='%Y-%m-%d %H:%M:%S').apply(lambda x: datetime.combine(today_date, x.time()))
df['Time out'] = pd.to_datetime(df['Time out'], format='%I:%M:%S %p').apply(lambda x: datetime.combine(today_date, x.time()))

# Note: If the initial shift allocation starts (Time In) at any 15mins interval (like 8:45), we are shifting to later 30mins (9:00) AND if the initial shift allocation ends (Time Out) at any 15mins interval (like 6:15), we are shifting to previous 30mins (6:00). 
# Function to adjust times based on 15-minute intervals
def adjust_time_in(time_in):
    if time_in.minute == 45:
        # Shift forward to the next 30-minute mark
        return time_in.replace(minute=0) + timedelta(hours=1)
    elif time_in.minute == 30:
        # Already at a 30-minute mark, do nothing
        return time_in
    elif time_in.minute == 15:
        # Shift forward to the next 30-minute mark
        return time_in.replace(minute=30)
    return time_in

def adjust_time_out(time_out):
    if time_out.minute == 15:
        # Shift backward to the previous 30-minute mark
        return time_out.replace(minute=0)
    elif time_out.minute == 30:
        # Already at a 30-minute mark, do nothing
        return time_out
    elif time_out.minute == 45:
        # Shift backward to the previous 30-minute mark
        return time_out.replace(minute=30)
    return time_out

# Apply adjustments to the 'Time in' and 'Time out' columns
df['Time in'] = df['Time in'].apply(adjust_time_in)
df['Time out'] = df['Time out'].apply(adjust_time_out)

# Filter out not-required roles and names
filtered_df = df[~df['Responsibility'].isin(['Technology', 'Office Work']) & ~df['Name'].str.contains('Available')]

# Display the filtered DataFrame
filtered_df.head(5)

,Name,Responsibility,Time in,Time out
0,Ana* Gonzalez,Lead Student,2024-12-09 08:30:00,2024-12-09 10:00:00
1,Aidan Priller,Sales Floor,2024-12-09 09:00:00,2024-12-09 10:00:00
2,Analuisa Flores Teran,Sales Floor,2024-12-09 09:00:00,2024-12-09 11:00:00
3,Caroline Lester,Sales Floor,2024-12-09 09:00:00,2024-12-09 10:00:00
4,Carson Turk,Greeter,2024-12-09 09:00:00,2024-12-09 13:00:00

In [19]:
# Testing
filtered_df[filtered_df['Name']=='Ana* Gonzalez']

            Name Responsibility             Time in            Time out
0  Ana* Gonzalez   Lead Student 2024-12-09 08:30:00 2024-12-09 10:00:00

## 2. Create full joined working flag table

In [20]:
new_rows = []
time_interval=30

first_start_time = filtered_df['Time in'].min()
max_end_time = filtered_df['Time out'].max()

# Get unique names from filtered_df
unique_names = filtered_df['Name'].unique()

# Iterate through each individual
for name in unique_names:
    start_time = first_start_time
    end_time = max_end_time
    
    # Generate 30 minute intervals
    while start_time < end_time:
        new_row = {
            'Name': name,
            'Start_time': start_time.time(),
            'End_time': (start_time + timedelta(minutes=time_interval)).time()
        }
        new_rows.append(new_row)
        start_time += timedelta(minutes=30)

# Create the new DataFrame
work_status_df = pd.DataFrame(new_rows)


def get_working_flag(name, start_time, end_time):
    # Get all working hours for the specific name
    employee_records = filtered_df[filtered_df['Name'] == name]
    
    # Iterate through all records for the employee
    for index, record in employee_records.iterrows():
        # Convert Time in and Time out to time objects
        time_in = record['Time in'].time()  # Use .time() to get the time object
        time_out = record['Time out'].time()  # Use .time() to get the time object

        # Check if the Start_time and End_time fall within the working hours
        if (time_in <= start_time < time_out) or (time_in < end_time <= time_out) or (start_time <= time_in and end_time >= time_out):
            return 1  # Working
    
    return 0  # Not working if none of the records match

# Add the 'Working Flag' column to work_status_df
work_status_df['Working Flag'] = work_status_df.apply(
    lambda row: get_working_flag(row['Name'], row['Start_time'], row['End_time']), axis=1
)

# Display the updated DataFrame
# work_status_df.sample(5)
work_status_df.head(15)

             Name Start_time  End_time  Working Flag
0   Ana* Gonzalez   08:30:00  09:00:00             1
1   Ana* Gonzalez   09:00:00  09:30:00             1
2   Ana* Gonzalez   09:30:00  10:00:00             1
3   Ana* Gonzalez   10:00:00  10:30:00             0
4   Ana* Gonzalez   10:30:00  11:00:00             0
5   Ana* Gonzalez   11:00:00  11:30:00             0
6   Ana* Gonzalez   11:30:00  12:00:00             0
7   Ana* Gonzalez   12:00:00  12:30:00             0
8   Ana* Gonzalez   12:30:00  13:00:00             0
9   Ana* Gonzalez   13:00:00  13:30:00             0
10  Ana* Gonzalez   13:30:00  14:00:00             0
11  Ana* Gonzalez   14:00:00  14:30:00             0
12  Ana* Gonzalez   14:30:00  15:00:00             0
13  Ana* Gonzalez   15:00:00  15:30:00             0
14  Ana* Gonzalez   15:30:00  16:00:00             0

In [21]:
# Testing 
work_status_df[work_status_df['Name']=='Ana* Gonzalez']

             Name Start_time  End_time  Working Flag
0   Ana* Gonzalez   08:30:00  09:00:00             1
1   Ana* Gonzalez   09:00:00  09:30:00             1
2   Ana* Gonzalez   09:30:00  10:00:00             1
3   Ana* Gonzalez   10:00:00  10:30:00             0
4   Ana* Gonzalez   10:30:00  11:00:00             0
5   Ana* Gonzalez   11:00:00  11:30:00             0
6   Ana* Gonzalez   11:30:00  12:00:00             0
7   Ana* Gonzalez   12:00:00  12:30:00             0
8   Ana* Gonzalez   12:30:00  13:00:00             0
9   Ana* Gonzalez   13:00:00  13:30:00             0
10  Ana* Gonzalez   13:30:00  14:00:00             0
11  Ana* Gonzalez   14:00:00  14:30:00             0
12  Ana* Gonzalez   14:30:00  15:00:00             0
13  Ana* Gonzalez   15:00:00  15:30:00             0
14  Ana* Gonzalez   15:30:00  16:00:00             0
15  Ana* Gonzalez   16:00:00  16:30:00             0
16  Ana* Gonzalez   16:30:00  17:00:00             0
17  Ana* Gonzalez   17:00:00  17:30:00             0
18  Ana* Gonzalez   17:30:00  18:00:00             0

In [22]:
# Caluculate remaining hours left 

work_status_df= work_status_df[work_status_df['Working Flag']==1]
greeter_priority_df= work_status_df.copy()
work_status_copy_df= work_status_df.copy()

# Calculate remaining hours left
# Ensure all time columns are converted to strings in case they are of type datetime.time
greeter_priority_df['Start_time'] = greeter_priority_df['Start_time'].astype(str)
greeter_priority_df['End_time'] = greeter_priority_df['End_time'].astype(str)
work_status_copy_df['Start_time'] = work_status_copy_df['Start_time'].astype(str)
work_status_copy_df['End_time'] = work_status_copy_df['End_time'].astype(str)

def calculate_remaining_hours(employee, current_time, work_status_df, filtered_df):
    # Convert current_time to datetime object
    current_time = pd.to_datetime(f"{today_date} {current_time}", format="%Y-%m-%d %H:%M:%S")

    # Initialize remaining time
    remaining_time = 0.0

    # Filter for the specific employee's schedule
    employee_schedule = filtered_df[filtered_df['Name'] == employee]
    working_shifts = work_status_df[(work_status_df['Name'] == employee) & (work_status_df['Working Flag'] == 1)]

    #print("employee_schedule\n", employee_schedule)

    # Identify the active shift
    for _, shift in employee_schedule.iterrows():
        shift_start = pd.to_datetime(shift['Time in'])
        shift_end = pd.to_datetime(shift['Time out'])

        #print("\ncurrent_time", current_time)
        #print("shift_end", shift_end, '\n')

        # Skip if the shift has ended
        if current_time >= shift_end:
            #print("current_time >= shift_end")
            continue

        # If within this shift, calculate remaining hours
        if shift_start <= current_time < shift_end:
            #print("shift_start <= current_time < shift_end")
            remaining_time = (shift_end - current_time).total_seconds() / 3600  # Hours
            break
        elif current_time < shift_start:
            #print("current_time < shift_start")
            # If the current time is before the shift, skip to the next one
            continue

    return remaining_time


# Apply the calculation to the DataFrame
greeter_priority_df['Remaining_hours_left'] = greeter_priority_df.apply(
    lambda row: calculate_remaining_hours(row['Name'], row['Start_time'], work_status_copy_df, filtered_df), axis=1
)

# Display the updated DataFrame
greeter_priority_df

                Name Start_time  End_time  Working Flag  Remaining_hours_left
0      Ana* Gonzalez   08:30:00  09:00:00             1                   1.5
1      Ana* Gonzalez   09:00:00  09:30:00             1                   1.0
2      Ana* Gonzalez   09:30:00  10:00:00             1                   0.5
20     Aidan Priller   09:00:00  09:30:00             1                   1.0
21     Aidan Priller   09:30:00  10:00:00             1                   0.5
..               ...        ...       ...           ...                   ...
451    Ricardo Gomez   15:30:00  16:00:00             1                   1.5
452    Ricardo Gomez   16:00:00  16:30:00             1                   1.0
453    Ricardo Gomez   16:30:00  17:00:00             1                   0.5
471  Aaron* Dorrance   16:00:00  16:30:00             1                   1.0
472  Aaron* Dorrance   16:30:00  17:00:00             1                   0.5

[165 rows x 5 columns]

In [23]:
greeter_priority_df.shape

(165, 5)

In [24]:
greeter_priority_df.head(2)

            Name Start_time  End_time  Working Flag  Remaining_hours_left
0  Ana* Gonzalez   08:30:00  09:00:00             1                   1.5
1  Ana* Gonzalez   09:00:00  09:30:00             1                   1.0

In [25]:
work_status_df.shape

(165, 4)

In [26]:
work_status_df.head(2)

            Name Start_time  End_time  Working Flag
0  Ana* Gonzalez   08:30:00  09:00:00             1
1  Ana* Gonzalez   09:00:00  09:30:00             1

In [27]:
# Testing
greeter_priority_df[greeter_priority_df['Name']=='Analuisa Flores Teran']
#greeter_priority_df[greeter_priority_df['Name']=='Kayhaan Rashiq']
#greeter_priority_df[greeter_priority_df['Name']=='Mali Chavez']
#greeter_priority_df[greeter_priority_df['Name']=='Andrew (AJ) # Bowlen']

,Name,Start_time,End_time,Working Flag,Remaining_hours_left
39,Analuisa Flores Teran,09:00:00,09:30:00,1,2.0
40,Analuisa Flores Teran,09:30:00,10:00:00,1,1.5
41,Analuisa Flores Teran,10:00:00,10:30:00,1,1.0
42,Analuisa Flores Teran,10:30:00,11:00:00,1,0.5
51,Analuisa Flores Teran,15:00:00,15:30:00,1,2.0
52,Analuisa Flores Teran,15:30:00,16:00:00,1,1.5
53,Analuisa Flores Teran,16:00:00,16:30:00,1,1.0
54,Analuisa Flores Teran,16:30:00,17:00:00,1,0.5

In [28]:
greeter_priority_df['Name'].unique()

array(['Ana* Gonzalez', 'Aidan Priller', 'Analuisa Flores Teran',
       'Caroline Lester', 'Carson Turk', 'Ethan Palmer', 'Jackson Carter',
       'Solymar Kneale', 'Teddrose* Tewolde', 'Mariana Cepeda',
       'Marsailles Wesley', 'Om Jadhav', 'Elijah Kodjak', 'Luke* Ruhl',
       'Mohammed Alhazmi', 'Serenity* Munoz', 'Elizabeth Jurry',
       'Summer Sutton', 'Ellia* Bono', 'Mali Chavez', 'Calvin # Levy',
       'Lauren* Koski', 'Mason Bessette', 'Ricardo Gomez',
       'Aaron* Dorrance'], dtype=object)

# Create Shift Requrement

In [29]:
# Import emp_count_req Default Table
# emp_count_req= pd.read_excel(r"00_Input\02_Emp_Count_Requirement.xlsx")
emp_count_req= pd.read_excel('00_Input/02_Emp_Count_Requirement.xlsx')
emp_count_req.head()

# Convert 'From_Time' and 'To_Time' to datetime objects
emp_count_req['From_Time'] = pd.to_datetime(emp_count_req['From_Time'], format='%H:%M:%S').dt.time
emp_count_req['To_Time'] = pd.to_datetime(emp_count_req['To_Time'], format='%H:%M:%S').dt.time

emp_count_req.head()

,From_Time,To_Time,Reg_Up_Needed,Reg_Down_Needed,Greeter_Up_Needed,Greeter_Down_Needed,Min_Total_Emp_Needed
0,07:30:00,08:00:00,0,0,0,0,0
1,08:00:00,08:30:00,0,0,0,0,0
2,08:30:00,09:00:00,0,0,0,0,0
3,09:00:00,09:30:00,3,3,1,0,7
4,09:30:00,10:00:00,3,3,1,0,7

In [30]:
work_status_df.head()

             Name Start_time  End_time  Working Flag
0   Ana* Gonzalez   08:30:00  09:00:00             1
1   Ana* Gonzalez   09:00:00  09:30:00             1
2   Ana* Gonzalez   09:30:00  10:00:00             1
20  Aidan Priller   09:00:00  09:30:00             1
21  Aidan Priller   09:30:00  10:00:00             1

In [31]:
# Check if available employees are sufficient to satisfy the required count

emp_aval= work_status_df.copy()
emp_aval.rename(columns={'Start_time': 'Work_From', 'End_time': 'Work_To', 'Working Flag': 'Working_Flag'}, inplace=True)

# Create "total available employee" column

# Group By the From and To time of "Work Status Per Time" table and count the number of available employees
grouped_avl_by_time= emp_aval.groupby(['Work_From', 'Work_To']).agg({'Working_Flag': 'sum'}).reset_index()
grouped_avl_by_time.columns= ['Work_From', 'Work_To', 'Total_Avl_Emp']

# Join it with the emp_count_req table
emp_demand_check= pd.merge(emp_count_req, grouped_avl_by_time, how='left', left_on=['From_Time','To_Time'], right_on=['Work_From','Work_To'])
columns_needed= ['From_Time', 'To_Time', 'Reg_Up_Needed', 'Reg_Down_Needed', 'Greeter_Up_Needed', 'Greeter_Down_Needed', 'Min_Total_Emp_Needed', 'Total_Avl_Emp']
emp_demand_check= emp_demand_check[columns_needed]
emp_demand_check['Total_Avl_Emp'].fillna(0, inplace=True) # If no emp are available on a selected shift, make the availability zero. 

# Create an availability check flag and alert 
def alert_employee_shortage(emp_demand_check: pd.DataFrame):
    shortage= emp_demand_check[emp_demand_check['Availability_Check_Flag'] == False]
    if(len(shortage)==0):
        print("No shortage of employees for the whole day")
    else:
        print("ALERT: Employees are on shortage for the following time slots")
        print(shortage[['From_Time', 'To_Time', 'Min_Total_Emp_Needed', 'Total_Avl_Emp']])
    return

emp_demand_check['Availability_Check_Flag']= emp_demand_check['Min_Total_Emp_Needed']<= emp_demand_check['Total_Avl_Emp']
alert_employee_shortage(emp_demand_check)
display(emp_demand_check.sample(5))

No shortage of employees for the whole day

,From_Time,To_Time,Reg_Up_Needed,Reg_Down_Needed,Greeter_Up_Needed,Greeter_Down_Needed,Min_Total_Emp_Needed,Total_Avl_Emp,Availability_Check_Flag
22,18:30:00,19:00:00,0,0,0,0,0,0.0,True
3,09:00:00,09:30:00,3,3,1,0,7,9.0,True
4,09:30:00,10:00:00,3,3,1,0,7,9.0,True
9,12:00:00,12:30:00,3,3,1,1,8,11.0,True
17,16:00:00,16:30:00,3,3,1,1,8,10.0,True

# Greeter Assignment

In [32]:
greeter_assignment=emp_demand_check[['From_Time','To_Time','Greeter_Down_Needed','Greeter_Up_Needed']]
greeter_assignment.head()

  From_Time   To_Time  Greeter_Down_Needed  Greeter_Up_Needed
0  07:30:00  08:00:00                    0                  0
1  08:00:00  08:30:00                    0                  0
2  08:30:00  09:00:00                    0                  0
3  09:00:00  09:30:00                    0                  1
4  09:30:00  10:00:00                    0                  1

In [33]:
# Create greeter shift completed dictionary

#  Get unique names
unique_names = filtered_df['Name'].unique()

# Create a dictionary with names as keys and 0 as the initial value
greeter_shift_done_dict = {name: 0 for name in unique_names}

# Display the initialized dictionary
greeter_shift_done_dict

{'Ana* Gonzalez': 0,
 'Aidan Priller': 0,
 'Analuisa Flores Teran': 0,
 'Caroline Lester': 0,
 'Carson Turk': 0,
 'Ethan Palmer': 0,
 'Jackson Carter': 0,
 'Solymar Kneale': 0,
 'Teddrose* Tewolde': 0,
 'Mariana Cepeda': 0,
 'Marsailles Wesley': 0,
 'Om Jadhav': 0,
 'Elijah Kodjak': 0,
 'Luke* Ruhl': 0,
 'Mohammed Alhazmi': 0,
 'Serenity* Munoz': 0,
 'Elizabeth Jurry': 0,
 'Summer Sutton': 0,
 'Ellia* Bono': 0,
 'Mali Chavez': 0,
 'Calvin # Levy': 0,
 'Lauren* Koski': 0,
 'Mason Bessette': 0,
 'Ricardo Gomez': 0,
 'Aaron* Dorrance': 0}

In [34]:
# Convert 'Start_time' and 'End_time' to time objects in the main dataframe
greeter_priority_df['Start_time'] = pd.to_datetime(greeter_priority_df['Start_time'], format='%H:%M:%S').dt.time
greeter_priority_df['End_time'] = pd.to_datetime(greeter_priority_df['End_time'], format='%H:%M:%S').dt.time

def assign_priority(df, filtered_df, greeter_shift_done_dict):
    # Initialize the priority column
    df['Priority'] = 0  # Initialize the Priority column with zeros
    
    # Group by Start_time and End_time
    for (start, end), group in df.groupby(['Start_time', 'End_time']):
        responsible_people = filtered_df[(filtered_df['Time in'] == start) & 
                                         (filtered_df['Time out'] == end) & 
                                         (filtered_df['Responsibility'] == 'Greeter')]
        
        if not responsible_people.empty:
            for index, row in responsible_people.iterrows():
                greeter = row['Name']
                if greeter in group['Name'].values:
                    df.loc[(df['Start_time'] == start) & (df['End_time'] == end) & (df['Name'] == greeter), 'Priority'] = 1
            
            remaining_group = group[~group['Name'].isin(responsible_people['Name'])]
            non_zero_hours_group = remaining_group[remaining_group['Remaining_hours_left'] > 0].sort_values(by='Remaining_hours_left', ascending=True)
            
            # Assign dense ranking starting from 2 for non-zero hours employees
            if not non_zero_hours_group.empty:
                non_zero_hours_group['Priority'] = non_zero_hours_group['Remaining_hours_left'].rank(method='dense', ascending=True).astype(int) + 1
                df.loc[non_zero_hours_group.index, 'Priority'] = non_zero_hours_group['Priority']
            
            # Employees with 0 hours remaining
            zero_hours_group = remaining_group[remaining_group['Remaining_hours_left'] == 0]
            if not zero_hours_group.empty:
                max_priority = non_zero_hours_group['Priority'].max() if not non_zero_hours_group.empty else 1
                zero_hours_group['Priority'] = max_priority + 1
                df.loc[zero_hours_group.index, 'Priority'] = zero_hours_group['Priority']
        else:
            group_with_non_zero_hours = group[group['Remaining_hours_left'] > 0].sort_values(by='Remaining_hours_left', ascending=True)
            group_with_zero_hours = group[group['Remaining_hours_left'] == 0]
            if not group_with_non_zero_hours.empty:
                group_with_non_zero_hours['Priority'] = group_with_non_zero_hours['Remaining_hours_left'].rank(method='dense', ascending=True).astype(int)
                df.loc[group_with_non_zero_hours.index, 'Priority'] = group_with_non_zero_hours['Priority']
            if not group_with_zero_hours.empty:
                max_priority = group_with_non_zero_hours['Priority'].max() if not group_with_non_zero_hours.empty else 1
                group_with_zero_hours['Priority'] = max_priority + 1
                df.loc[group_with_zero_hours.index, 'Priority'] = group_with_zero_hours['Priority']

    return df  # Return the modified DataFrame with the Priority column

In [35]:
def process_time_periods(greeter_priority_df, greeter_assignment, filtered_df, greeter_shift_done_dict):
    
    # Assign priorities before processing time periods
    greeter_priority_df = assign_priority(greeter_priority_df, filtered_df, greeter_shift_done_dict)

    time_periods = greeter_assignment[['From_Time', 'To_Time', 'Greeter_Up_Needed', 'Greeter_Down_Needed']].drop_duplicates()

    for idx, period in time_periods.iterrows():
        # Extract needed counts for upstairs and downstairs greeters
        up_needed = int(period['Greeter_Up_Needed'])
        down_needed = int(period['Greeter_Down_Needed'])

        current_period_data = greeter_priority_df[
            (greeter_priority_df['Start_time'] == period['From_Time']) &
            (greeter_priority_df['End_time'] == period['To_Time'])
        ]

        # Debug: Check current period data
        print(f"Current Period: {period['From_Time']} to {period['To_Time']}")
        print("Current Period Data:\n", current_period_data)

        # Sort employees by priority
        sorted_employees = current_period_data.sort_values('Priority')

        # Assign upstairs greeters based on needed count
        upstairs_greeters = sorted_employees.head(up_needed)['Name'].tolist()
        print("Upstairs Greeters Assigned:", upstairs_greeters)

        # Filter out already assigned upstairs greeters for downstairs assignments
        remaining_employees = sorted_employees[~sorted_employees['Name'].isin(upstairs_greeters)]

        # Assign downstairs greeters based on needed count
        downstairs_greeters = remaining_employees.head(down_needed)['Name'].tolist() if down_needed > 0 else []
        print("Downstairs Greeters Assigned:", downstairs_greeters)
        print("-----------------------------------------------------------------------------")

        # Update the greeter_assignment DataFrame with assigned greeters
        greeter_assignment.at[idx, 'Upstairs Greeter'] = upstairs_greeters[0] if upstairs_greeters else None
        greeter_assignment.at[idx, 'Downstairs Greeter'] = downstairs_greeters[0] if downstairs_greeters else None

        # Update shift counts for assigned employees
        for employee in upstairs_greeters + downstairs_greeters:
            if employee:  # Only update for actual assignments
                greeter_shift_done_dict[employee] += 1

        # Update the priorities for assigned greeters
        for employee in upstairs_greeters + downstairs_greeters:
            if employee:  # Only update for actual assignments
                greeter_priority_df.loc[greeter_priority_df['Name'] == employee, 'Priority'] = greeter_priority_df['Priority'].max() + 1

    return greeter_assignment, greeter_shift_done_dict

# Example call to the function
greeter_assignment, greeter_shift_done_dict = process_time_periods(
    greeter_priority_df, 
    greeter_assignment, 
    filtered_df, 
    greeter_shift_done_dict
)

# Output results
greeter_assignment.head(50)

Current Period: 07:30:00 to 08:00:00
Current Period Data:
 Empty DataFrame
Columns: [Name, Start_time, End_time, Working Flag, Remaining_hours_left, Priority]
Index: []
Upstairs Greeters Assigned: []
Downstairs Greeters Assigned: []
-----------------------------------------------------------------------------
Current Period: 08:00:00 to 08:30:00
Current Period Data:
 Empty DataFrame
Columns: [Name, Start_time, End_time, Working Flag, Remaining_hours_left, Priority]
Index: []
Upstairs Greeters Assigned: []
Downstairs Greeters Assigned: []
-----------------------------------------------------------------------------
Current Period: 08:30:00 to 09:00:00
Current Period Data:
             Name Start_time  End_time  Working Flag  Remaining_hours_left  \
0  Ana* Gonzalez   08:30:00  09:00:00             1                   1.5

   Priority
0         1
Upstairs Greeters Assigned: []
Downstairs Greeters Assigned: []
-----------------------------------------------------------------------------
Current Period: 09:00:00 to 09:30:00
Current Period Data:
                       Name Start_time  End_time  Working Flag  \
1            Ana* Gonzalez   09:00:00  09:30:00             1
20           Aidan Priller   09:00:00  09:30:00             1
39   Analuisa Flores Teran   09:00:00  09:30:00             1
58         Caroline Lester   09:00:00  09:30:00             1
77             Carson Turk   09:00:00  09:30:00             1
96            Ethan Palmer   09:00:00  09:30:00             1
115         Jackson Carter   09:00:00  09:30:00             1
134         Solymar Kneale   09:00:00  09:30:00             1
153      Teddrose* Tewolde   09:00:00  09:30:00             1

     Remaining_hours_left  Priority
1                     1.0         1
20                    1.0         1
39                    2.0         2
58                    1.0         1
77                    4.0         3
96                    4.0         3
115                   2.0         2
134                   6.0         4
153                   1.0         1
Upstairs Greeters Assigned: ['Ana* Gonzalez']
Downstairs Greeters Assigned: []
-----------------------------------------------------------------------------
Current Period: 09:30:00 to 10:00:00
Current Period Data:
                       Name Start_time  End_time  Working Flag  \
2            Ana* Gonzalez   09:30:00  10:00:00             1
21           Aidan Priller   09:30:00  10:00:00             1
40   Analuisa Flores Teran   09:30:00  10:00:00             1
59         Caroline Lester   09:30:00  10:00:00             1
78             Carson Turk   09:30:00  10:00:00             1
97            Ethan Palmer   09:30:00  10:00:00             1
116         Jackson Carter   09:30:00  10:00:00             1
135         Solymar Kneale   09:30:00  10:00:00             1
154      Teddrose* Tewolde   09:30:00  10:00:00             1

     Remaining_hours_left  Priority
2                     0.5         5
21                    0.5         1
40                    1.5         2
59                    0.5         1
78                    3.5         3
97                    3.5         3
116                   1.5         2
135                   5.5         4
154                   0.5         1
Upstairs Greeters Assigned: ['Aidan Priller']
Downstairs Greeters Assigned: []
-----------------------------------------------------------------------------
Current Period: 10:00:00 to 10:30:00
Current Period Data:
                       Name Start_time  End_time  Working Flag  \
41   Analuisa Flores Teran   10:00:00  10:30:00             1
79             Carson Turk   10:00:00  10:30:00             1
98            Ethan Palmer   10:00:00  10:30:00             1
117         Jackson Carter   10:00:00  10:30:00             1
136         Solymar Kneale   10:00:00  10:30:00             1
174         Mariana Cepeda   10:00:00  10:30:00             1
193      Marsailles Wesley   10:00:00  10:30:00             1
212              Om Jadhav   10:00:00  10:30:00             1

     Remaining_hours_left  Priority
41                    1.0         1
79                    3.0         2
98                    3.0         2
117                   1.0         1
136                   5.0         3
174                   1.0         1
193                   3.0         2
212                   5.0         3
Upstairs Greeters Assigned: ['Analuisa Flores Teran']
Downstairs Greeters Assigned: []
-----------------------------------------------------------------------------
Current Period: 10:30:00 to 11:00:00
Current Period Data:
                       Name Start_time  End_time  Working Flag  \
42   Analuisa Flores Teran   10:30:00  11:00:00             1
80             Carson Turk   10:30:00  11:00:00             1
99            Ethan Palmer   10:30:00  11:00:00             1
118         Jackson Carter   10:30:00  11:00:00             1
137         Solymar Kneale   10:30:00  11:00:00             1
175         Mariana Cepeda   10:30:00  11:00:00             1
194      Marsailles Wesley   10:30:00  11:00:00             1
213              Om Jadhav   10:30:00  11:00:00             1

     Remaining_hours_left  Priority
42                    0.5         7
80                    2.5         2
99                    2.5         2
118                   0.5         1
137                   4.5         3
175                   0.5         1
194                   2.5         2
213                   4.5         3
Upstairs Greeters Assigned: ['Jackson Carter']
Downstairs Greeters Assigned: []
-----------------------------------------------------------------------------
Current Period: 11:00:00 to 11:30:00
Current Period Data:
                   Name Start_time  End_time  Working Flag  \
62     Caroline Lester   11:00:00  11:30:00             1
81         Carson Turk   11:00:00  11:30:00             1
100       Ethan Palmer   11:00:00  11:30:00             1
138     Solymar Kneale   11:00:00  11:30:00             1
195  Marsailles Wesley   11:00:00  11:30:00             1
214          Om Jadhav   11:00:00  11:30:00             1
233      Elijah Kodjak   11:00:00  11:30:00             1
252         Luke* Ruhl   11:00:00  11:30:00             1
271   Mohammed Alhazmi   11:00:00  11:30:00             1
290    Serenity* Munoz   11:00:00  11:30:00             1

     Remaining_hours_left  Priority
62                    1.0         1
81                    2.0         2
100                   2.0         2
138                   4.0         3
195                   2.0         2
214                   4.0         3
233                   4.0         3
252                   2.0         2
271                   5.0         4
290                   1.0         1
Upstairs Greeters Assigned: ['Caroline Lester']
Downstairs Greeters Assigned: ['Serenity* Munoz']
-----------------------------------------------------------------------------
Current Period: 11:30:00 to 12:00:00
Current Period Data:
                   Name Start_time  End_time  Working Flag  \
63     Caroline Lester   11:30:00  12:00:00             1
82         Carson Turk   11:30:00  12:00:00             1
101       Ethan Palmer   11:30:00  12:00:00             1
139     Solymar Kneale   11:30:00  12:00:00             1
196  Marsailles Wesley   11:30:00  12:00:00             1
215          Om Jadhav   11:30:00  12:00:00             1
234      Elijah Kodjak   11:30:00  12:00:00             1
253         Luke* Ruhl   11:30:00  12:00:00             1
272   Mohammed Alhazmi   11:30:00  12:00:00             1
291    Serenity* Munoz   11:30:00  12:00:00             1

     Remaining_hours_left  Priority
63                    0.5         9
82                    1.5         2
101                   1.5         2
139                   3.5         3
196                   1.5         2
215                   3.5         3
234                   3.5         3
253                   1.5         2
272                   4.5         4
291                   0.5        10
Upstairs Greeters Assigned: ['Carson Turk']
Downstairs Greeters Assigned: ['Ethan Palmer']
-----------------------------------------------------------------------------
Current Period: 12:00:00 to 12:30:00
Current Period Data:
                   Name Start_time  End_time  Working Flag  \
26       Aidan Priller   12:00:00  12:30:00             1
83         Carson Turk   12:00:00  12:30:00             1
102       Ethan Palmer   12:00:00  12:30:00             1
140     Solymar Kneale   12:00:00  12:30:00             1
197  Marsailles Wesley   12:00:00  12:30:00             1
216          Om Jadhav   12:00:00  12:30:00             1
235      Elijah Kodjak   12:00:00  12:30:00             1
254         Luke* Ruhl   12:00:00  12:30:00             1
273   Mohammed Alhazmi   12:00:00  12:30:00             1
311    Elizabeth Jurry   12:00:00  12:30:00             1
330      Summer Sutton   12:00:00  12:30:00             1

     Remaining_hours_left  Priority
26                    3.0         6
83                    1.0        11
102                   1.0        12
140                   3.0         2
197                   1.0         1
216                   3.0         2
235                   3.0         2
254                   1.0         1
273                   4.0         3
311                   5.0         4
330                   1.0         1
Upstairs Greeters Assigned: ['Marsailles Wesley']
Downstairs Greeters Assigned: ['Luke* Ruhl']
-----------------------------------------------------------------------------
Current Period: 12:30:00 to 13:00:00
Current Period Data:
                   Name Start_time  End_time  Working Flag  \
27       Aidan Priller   12:30:00  13:00:00             1
84         Carson Turk   12:30:00  13:00:00             1
103       Ethan Palmer   12:30:00  13:00:00             1
141     Solymar Kneale   12:30:00  13:00:00             1
198  Marsailles Wesley   12:30:00  13:00:00             1
217          Om Jadhav   12:30:00  13:00:00             1
236      Elijah Kodjak   12:30:00  13:00:00             1
255         Luke* Ruhl   12:30:00  13:00:00             1
274   Mohammed Alhazmi   12:30:00  13:00:00             1
312    Elizabeth Jurry   12:30:00  13:00:00             1
331      Summer Sutton   12:30:00  13:00:00             1

     Remaining_hours_left  Priority
27                    2.5         6
84                    0.5        11
103                   0.5        12
141                   2.5         2
198                   0.5        13
217                   2.5         2
236                   2.5         2
255                   0.5        14
274                   3.5         3
312                   4.5         4
331                   0.5         1
Upstairs Greeters Assigned: ['Summer Sutton']
Downstairs Greeters Assigned: ['Solymar Kneale']
-----------------------------------------------------------------------------
Current Period: 13:00:00 to 13:30:00
Current Period Data:
                  Name Start_time  End_time  Working Flag  \
28      Aidan Priller   13:00:00  13:30:00             1
123    Jackson Carter   13:00:00  13:30:00             1
142    Solymar Kneale   13:00:00  13:30:00             1
180    Mariana Cepeda   13:00:00  13:30:00             1
218         Om Jadhav   13:00:00  13:30:00             1
237     Elijah Kodjak   13:00:00  13:30:00             1
275  Mohammed Alhazmi   13:00:00  13:30:00             1
294   Serenity* Munoz   13:00:00  13:30:00             1
313   Elizabeth Jurry   13:00:00  13:30:00             1
351       Ellia* Bono   13:00:00  13:30:00             1
370       Mali Chavez   13:00:00  13:30:00             1

     Remaining_hours_left  Priority
28                    2.0         6
123                   4.0         8
142                   2.0        16
180                   4.0         3
218                   2.0         1
237                   2.0         1
275                   3.0         2
294                   2.0        10
313                   4.0         3
351                   4.0         3
370                   2.0         1
Upstairs Greeters Assigned: ['Om Jadhav']
Downstairs Greeters Assigned: ['Elijah Kodjak']
-----------------------------------------------------------------------------
Current Period: 13:30:00 to 14:00:00
Current Period Data:
                  Name Start_time  End_time  Working Flag  \
29      Aidan Priller   13:30:00  14:00:00             1
124    Jackson Carter   13:30:00  14:00:00             1
143    Solymar Kneale   13:30:00  14:00:00             1
181    Mariana Cepeda   13:30:00  14:00:00             1
219         Om Jadhav   13:30:00  14:00:00             1
238     Elijah Kodjak   13:30:00  14:00:00             1
276  Mohammed Alhazmi   13:30:00  14:00:00             1
295   Serenity* Munoz   13:30:00  14:00:00             1
314   Elizabeth Jurry   13:30:00  14:00:00             1
352       Ellia* Bono   13:30:00  14:00:00             1
371       Mali Chavez   13:30:00  14:00:00             1

     Remaining_hours_left  Priority
29                    1.5         6
124                   3.5         8
143                   1.5        16
181                   3.5         3
219                   1.5        17
238                   1.5        18
276                   2.5         2
295                   1.5        10
314                   3.5         3
352                   3.5         3
371                   1.5         1
Upstairs Greeters Assigned: ['Mali Chavez']
Downstairs Greeters Assigned: ['Mohammed Alhazmi']
-----------------------------------------------------------------------------
Current Period: 14:00:00 to 14:30:00
Current Period Data:
                  Name Start_time  End_time  Working Flag  \
30      Aidan Priller   14:00:00  14:30:00             1
125    Jackson Carter   14:00:00  14:30:00             1
144    Solymar Kneale   14:00:00  14:30:00             1
182    Mariana Cepeda   14:00:00  14:30:00             1
220         Om Jadhav   14:00:00  14:30:00             1
239     Elijah Kodjak   14:00:00  14:30:00             1
277  Mohammed Alhazmi   14:00:00  14:30:00             1
296   Serenity* Munoz   14:00:00  14:30:00             1
315   Elizabeth Jurry   14:00:00  14:30:00             1
353       Ellia* Bono   14:00:00  14:30:00             1
372       Mali Chavez   14:00:00  14:30:00             1

     Remaining_hours_left  Priority
30                    1.0         6
125                   3.0         8
144                   1.0        16
182                   3.0         3
220                   1.0        17
239                   1.0        18
277                   2.0        20
296                   1.0        10
315                   3.0         3
353                   3.0         3
372                   1.0        19
Upstairs Greeters Assigned: ['Mariana Cepeda']
Downstairs Greeters Assigned: ['Elizabeth Jurry']
-----------------------------------------------------------------------------
Current Period: 14:30:00 to 15:00:00
Current Period Data:
                  Name Start_time  End_time  Working Flag  \
31      Aidan Priller   14:30:00  15:00:00             1
126    Jackson Carter   14:30:00  15:00:00             1
145    Solymar Kneale   14:30:00  15:00:00             1
183    Mariana Cepeda   14:30:00  15:00:00             1
221         Om Jadhav   14:30:00  15:00:00             1
240     Elijah Kodjak   14:30:00  15:00:00             1
278  Mohammed Alhazmi   14:30:00  15:00:00             1
297   Serenity* Munoz   14:30:00  15:00:00             1
316   Elizabeth Jurry   14:30:00  15:00:00             1
354       Ellia* Bono   14:30:00  15:00:00             1
373       Mali Chavez   14:30:00  15:00:00             1

     Remaining_hours_left  Priority
31                    0.5         6
126                   2.5         8
145                   0.5        16
183                   2.5        21
221                   0.5        17
240                   0.5        18
278                   1.5        20
297                   0.5        10
316                   2.5        22
354                   2.5         3
373                   0.5        19
Upstairs Greeters Assigned: ['Ellia* Bono']
Downstairs Greeters Assigned: ['Aidan Priller']
-----------------------------------------------------------------------------
Current Period: 15:00:00 to 15:30:00
Current Period Data:
                       Name Start_time  End_time  Working Flag  \
51   Analuisa Flores Teran   15:00:00  15:30:00             1
127         Jackson Carter   15:00:00  15:30:00             1
184         Mariana Cepeda   15:00:00  15:30:00             1
260             Luke* Ruhl   15:00:00  15:30:00             1
279       Mohammed Alhazmi   15:00:00  15:30:00             1
317        Elizabeth Jurry   15:00:00  15:30:00             1
355            Ellia* Bono   15:00:00  15:30:00             1
393          Calvin # Levy   15:00:00  15:30:00             1
412          Lauren* Koski   15:00:00  15:30:00             1
431         Mason Bessette   15:00:00  15:30:00             1
450          Ricardo Gomez   15:00:00  15:30:00             1

     Remaining_hours_left  Priority
51                    2.0         7
127                   2.0         8
184                   2.0        21
260                   2.0        14
279                   1.0        20
317                   2.0        22
355                   2.0        23
393                   1.0         1
412                   2.0         2
431                   1.0         1
450                   2.0         2
Upstairs Greeters Assigned: ['Calvin # Levy']
Downstairs Greeters Assigned: ['Mason Bessette']
-----------------------------------------------------------------------------
Current Period: 15:30:00 to 16:00:00
Current Period Data:
                       Name Start_time  End_time  Working Flag  \
52   Analuisa Flores Teran   15:30:00  16:00:00             1
128         Jackson Carter   15:30:00  16:00:00             1
185         Mariana Cepeda   15:30:00  16:00:00             1
261             Luke* Ruhl   15:30:00  16:00:00             1
280       Mohammed Alhazmi   15:30:00  16:00:00             1
318        Elizabeth Jurry   15:30:00  16:00:00             1
356            Ellia* Bono   15:30:00  16:00:00             1
394          Calvin # Levy   15:30:00  16:00:00             1
413          Lauren* Koski   15:30:00  16:00:00             1
432         Mason Bessette   15:30:00  16:00:00             1
451          Ricardo Gomez   15:30:00  16:00:00             1

     Remaining_hours_left  Priority
52                    1.5         7
128                   1.5         8
185                   1.5        21
261                   1.5        14
280                   0.5        20
318                   1.5        22
356                   1.5        23
394                   0.5        25
413                   1.5         2
432                   0.5        26
451                   1.5         2
Upstairs Greeters Assigned: ['Lauren* Koski']
Downstairs Greeters Assigned: ['Ricardo Gomez']
-----------------------------------------------------------------------------
Current Period: 16:00:00 to 16:30:00
Current Period Data:
                       Name Start_time  End_time  Working Flag  \
53   Analuisa Flores Teran   16:00:00  16:30:00             1
129         Jackson Carter   16:00:00  16:30:00             1
186         Mariana Cepeda   16:00:00  16:30:00             1
262             Luke* Ruhl   16:00:00  16:30:00             1
319        Elizabeth Jurry   16:00:00  16:30:00             1
357            Ellia* Bono   16:00:00  16:30:00             1
395          Calvin # Levy   16:00:00  16:30:00             1
414          Lauren* Koski   16:00:00  16:30:00             1
452          Ricardo Gomez   16:00:00  16:30:00             1
471        Aaron* Dorrance   16:00:00  16:30:00             1

     Remaining_hours_left  Priority
53                    1.0         7
129                   1.0         8
186                   1.0        21

,From_Time,To_Time,Greeter_Down_Needed,Greeter_Up_Needed,Upstairs Greeter,Downstairs Greeter
0,07:30:00,08:00:00,0,0,None,None
1,08:00:00,08:30:00,0,0,None,None
2,08:30:00,09:00:00,0,0,None,None
3,09:00:00,09:30:00,0,1,Ana* Gonzalez,None
4,09:30:00,10:00:00,0,1,Aidan Priller,None
5,10:00:00,10:30:00,0,1,Analuisa Flores Teran,None
6,10:30:00,11:00:00,0,1,Jackson Carter,None
7,11:00:00,11:30:00,1,1,Caroline Lester,Serenity* Munoz
8,11:30:00,12:00:00,1,1,Carson Turk,Ethan Palmer
9,12:00:00,12:30:00,1,1,Marsailles Wesley,Luke* Ruhl
10,12:30:00,13:00:00,1,1,Summer Sutton,Solymar Kneale
11,13:00:00,13:30:00,1,1,Om Jadhav,Elijah Kodjak
12,13:30:00,14:00:00,1,1,Mali Chavez,Mohammed Alhazmi
13,14:00:00,14:30:00,1,1,Mariana Cepeda,Elizabeth Jurry
14,14:30:00,15:00:00,1,1,Ellia* Bono,Aidan Priller
15,15:00:00,15:30:00,1,1,Calvin # Levy,Mason Bessette
16,15:30:00,16:00:00,1,1,Lauren* Koski,Ricardo Gomez
17,16:00:00,16:30:00,1,1,Aaron* Dorrance,Analuisa Flores Teran
18,16:30:00,17:00:00,1,1,Jackson Carter,Luke* Ruhl
19,17:00:00,17:30:00,0,1,Calvin # Levy,None
20,17:30:00,18:00:00,0,1,Calvin # Levy,None
21,18:00:00,18:30:00,0,0,None,None
22,18:30:00,19:00:00,0,0,None,None
23,19:00:00,19:30:00,0,0,None,None

# Register Allocation

In [36]:
filtered_df.head(2)

            Name Responsibility             Time in            Time out
0  Ana* Gonzalez   Lead Student 2024-12-09 08:30:00 2024-12-09 10:00:00
1  Aidan Priller    Sales Floor 2024-12-09 09:00:00 2024-12-09 10:00:00

In [40]:
len(filtered_df['Name'].unique())

25

In [37]:
work_status_df.head(2)

            Name Start_time  End_time  Working Flag
0  Ana* Gonzalez   08:30:00  09:00:00             1
1  Ana* Gonzalez   09:00:00  09:30:00             1

In [42]:
len(work_status_df['Name'].unique())

25

In [38]:
emp_demand_check.head(2)

,From_Time,To_Time,Reg_Up_Needed,Reg_Down_Needed,Greeter_Up_Needed,Greeter_Down_Needed,Min_Total_Emp_Needed,Total_Avl_Emp,Availability_Check_Flag
0,07:30:00,08:00:00,0,0,0,0,0,0.0,True
1,08:00:00,08:30:00,0,0,0,0,0,0.0,True

In [17]:
# Collect register needed count

shift_req_df=emp_demand_check[['From_Time', 'To_Time', 'Reg_Up_Needed', 'Reg_Down_Needed']]
shift_req_df.head()

  From_Time   To_Time  Reg_Up_Needed  Reg_Down_Needed
0  07:30:00  08:00:00              0                0
1  08:00:00  08:30:00              0                0
2  08:30:00  09:00:00              0                0
3  09:00:00  09:30:00              3                3
4  09:30:00  10:00:00              3                3

In [18]:
# Collect emp's work status

work_status_df= greeter_priority_df[greeter_priority_df['Working Flag']==1][['Name', 'Start_time', 'End_time', 'Working Flag', 'Remaining_hours_left']]
work_status_df.sample(2)

               Name Start_time  End_time  Working Flag  Remaining_hours_left
330   Summer Sutton   12:00:00  12:30:00             1                   1.0
115  Jackson Carter   09:00:00  09:30:00             1                   2.0

In [ ]:
# Allocate Registers

register_allocation= shift_req_df.copy()
register_allocation['Register Up']= None
register_allocation['Register Down']= None
register_allocation['SF Up']= None
register_allocation['SF Down']= None

# Prepare intial variables
current_RUs= []
current_RDs= []
store_open_time= shift_req_df['From_Time'].min() #time(9, 00) 
store_close_time= shift_req_df['From_Time'].max()
time_delta= timedelta(minutes=30)

curr_time= store_open_time

while (curr_time < store_close_time):
    curr_time_plus30= (datetime.combine(datetime.today(), curr_time) + time_delta).time()
    print("---------------------------------------------------------------------------------------------")
    print(f"Allocating registers between {curr_time} to {curr_time_plus30} ...")

    # Find how many total registers are needed
    needed_RU_count, needed_RD_count= shift_req_df[(shift_req_df['From_Time']== curr_time) & (shift_req_df['To_Time']== curr_time_plus30)][['Reg_Up_Needed','Reg_Down_Needed']].values[0]
    if (needed_RU_count + needed_RD_count == 0):
        print("No Registers Needed")
        curr_time= curr_time_plus30
        continue

    # Working Employees
    all_working_emp_list= work_status_df[(work_status_df['Start_time']== curr_time) & (work_status_df['End_time']== curr_time_plus30)]['Name'].to_list()

    # Greeters allocated already for the current shift
    greeter_filtered= greeter_assignment[(greeter_assignment['From_Time']== curr_time) & (greeter_assignment['To_Time']== curr_time_plus30)]
    greeter_emp_list= [greeter_filtered['Upstairs Greeter'].values[0],greeter_filtered['Downstairs Greeter'].values[0]]
    if None in greeter_emp_list:
        greeter_emp_list.remove(None)
    greeter_emp_list

    # Baseed on the workring and greeter list, calculate the retined register list
    retained_RUs=[]
    retained_RDs= []

    for emp in current_RUs:
        if (emp not in all_working_emp_list):
            # EMP shift got over
            continue
        if (emp in greeter_emp_list):
            # EMP moved to greeter
            continue
        else:
            retained_RUs.append(emp)
    
    for emp in current_RDs:
        if (emp not in all_working_emp_list):
            # EMP shift got over
            continue
        if (emp in greeter_emp_list):
            # EMP moved to greeter
            continue
        else:
            retained_RDs.append(emp)

    # Find how many new registers are needed
    RU_retained_count= len(retained_RUs)
    RD_retained_count= len(retained_RDs)
    new_RU_needed_count= needed_RU_count-RU_retained_count
    new_RD_needed_count= needed_RD_count-RD_retained_count

    # Create the priority table. Use the same table to assign both RU and RD
    priority_table= work_status_df[(work_status_df['Start_time']== curr_time) & (work_status_df['End_time']== curr_time_plus30) & (work_status_df['Name'] not in retained_RUs+retained_RDs)]
    priority_table['RU_Priority'] = priority_table['Remaining_hours_left'].rank(method='min', ascending=False).astype(int)
    priority_table.sort_values(by='RU_Priority', inplace=True)
    priority_table.reset_index(drop=True, inplace=True)
    display(priority_table.head())

    # Pick the new registers for both RU and RD
    print('RU_retained_count', RU_retained_count)
    print('RD_retained_count', new_RU_needed_count)
    print('new_RU_needed_count', new_RU_needed_count)
    print('new_RD_needed_count', new_RD_needed_count)
    new_RU_assigned= priority_table['Name'][:new_RU_needed_count].tolist()
    new_RD_assigned= priority_table['Name'][new_RU_needed_count: new_RU_needed_count+new_RD_needed_count].tolist()
    print('retained_RUs', retained_RUs)
    print('retained_RDs', retained_RDs)
    print('new_RU_assigned', new_RU_assigned)
    print('new_RD_assigned', new_RD_assigned)

    # Assign the remaining to salesfloor
    unassigned_count= len(priority_table)-(new_RU_needed_count+new_RD_needed_count)
    if(unassigned_count<=0):
        salesfloor_up_assigned_count=0
        salesfloor_up_assigned= []
        salesfloor_dwn_assigned_count=0
        salesfloor_dwn_assigned= []
    elif(unassigned_count==1):
        salesfloor_up_assigned_count=1
        salesfloor_up_assigned= priority_table['Name'][-1].tolist()
        salesfloor_dwn_assigned_count=0
        salesfloor_dwn_assigned= []
    else:
        salesfloor_up_assigned_count=int(unassigned_count/2)
        salesfloor_up_assigned= priority_table['Name'][new_RU_needed_count+new_RD_needed_count:new_RU_needed_count+new_RD_needed_count+salesfloor_up_assigned_count].tolist()
        salesfloor_dwn_assigned_count=unassigned_count-salesfloor_up_assigned_count
        salesfloor_dwn_assigned= priority_table['Name'][new_RU_needed_count+new_RD_needed_count+salesfloor_up_assigned_count:].tolist()
    print('unassigned_count', unassigned_count)
    print('salesfloor_up_assigned_count', salesfloor_up_assigned_count)
    print('salesfloor_up_assigned', salesfloor_up_assigned)
    print('salesfloor_dwn_assigned_count', salesfloor_dwn_assigned_count)
    print('salesfloor_dwn_assigned', salesfloor_dwn_assigned)
    
    # Update the registers in the final table
    for i, row in register_allocation.iterrows():
        if row['From_Time'] == curr_time and row['To_Time'] == curr_time_plus30:
            # Assign new register up (RU) employees
            register_allocation.at[i, 'Register Up'] = retained_RUs+new_RU_assigned
            # Assign new register down (RD) employees
            register_allocation.at[i, 'Register Down'] = retained_RDs+new_RD_assigned
            # Assign new SF up employees
            register_allocation.at[i, 'SF Up'] = salesfloor_up_assigned
            # Assign new SF down employees
            register_allocation.at[i, 'SF Down'] = salesfloor_dwn_assigned
    
    # Should not break this, rather increment the start time by 30mins so that the while loop continues
    #break
    curr_time= curr_time_plus30

register_allocation

In [27]:
emp_demand_check.head()

,From_Time,To_Time,Reg_Up_Needed,Reg_Down_Needed,Greeter_Up_Needed,Greeter_Down_Needed,Min_Total_Emp_Needed,Total_Avl_Emp,Availability_Check_Flag
0,07:30:00,08:00:00,0,0,0,0,0,0.0,True
1,08:00:00,08:30:00,0,0,0,0,0,0.0,True
2,08:30:00,09:00:00,0,0,0,0,0,1.0,True
3,09:00:00,09:30:00,3,3,1,0,7,9.0,True
4,09:30:00,10:00:00,3,3,1,0,7,9.0,True

In [28]:
shift_req_df.head()

  From_Time   To_Time  Reg_Up_Needed  Reg_Down_Needed
0  07:30:00  08:00:00              0                0
1  08:00:00  08:30:00              0                0
2  08:30:00  09:00:00              0                0
3  09:00:00  09:30:00              3                3
4  09:30:00  10:00:00              3                3

In [29]:
final_allocation= pd.merge(greeter_assignment, register_allocation, how='outer', left_on=['From_Time', 'To_Time'], right_on=['From_Time', 'To_Time'])
final_allocation.sample(3)

,From_Time,To_Time,Greeter_Down_Needed,Greeter_Up_Needed,Upstairs Greeter,Downstairs Greeter,Reg_Up_Needed,Reg_Down_Needed,Register Up,Register Down,SF Up,SF Down
16,15:30:00,16:00:00,1,1,Lauren* Koski,Ricardo Gomez,3,3,"[Analuisa Flores Teran, Jackson Carter, Marian...","[Luke* Ruhl, Elizabeth Jurry, Ellia* Bono]","[Lauren* Koski, Ricardo Gomez]","[Mohammed Alhazmi, Calvin # Levy, Mason Bessette]"
11,13:00:00,13:30:00,1,1,Om Jadhav,Elijah Kodjak,3,3,"[Jackson Carter, Mariana Cepeda, Elizabeth Jurry]","[Ellia* Bono, Mohammed Alhazmi, Aidan Priller]","[Solymar Kneale, Om Jadhav]","[Elijah Kodjak, Serenity* Munoz, Mali Chavez]"
22,18:30:00,19:00:00,0,0,None,None,0,0,None,None,None,None

In [42]:
final_allocation.to_excel(f"01_Output\Final_Allocation_{datetime.now().strftime('%m-%y-%d_%H-%M-%S')}.xlsx", index=True)

In [ ]:
# TO DO

#- Fix time remaining calculation logic. 
# 	- Person doing multiple shifts with breaks in between not working.
# 	- Time remaining should be from the current time.

# - Test with matching emp count req and emp availability

# - Currently ignoring if "Greeter" as initial role assigned 
# - Take the reamining available emp not in both greeter and register and allocate them to salesfloor
# - Seperate UP and DOWN logic
# - Is it okay to allocate SF as all the remaining unallocated?
# - We won't have any time slot without registers but SF right?

# CONSIDERATIONS

# - Remember the shifts should not end in 15mins interval (unless it's 6:15 if the store closes at 6)
# - Currently if the initial shift allocation starts at any 15mins interval (like 8:45), we are shifting to later 30mins (9:00) AND if the initial shift allocation ends at any 15mins interval (like 6:15), we are shifting to previous 30mins (6:00). This can be avoided if the time inteval is set to every 15mins instead of 30mins.