In [490]:
import pandas as pd
from datetime import timedelta
from datetime import datetime
import json
# To ignore warnings
import warnings
warnings.filterwarnings("ignore")

In [491]:
# Reading the Excel file
path = "Book1.xlsx"
df = pd.read_excel(path, names=['Name', 'Roles', 'Responsibility', 'Time in', 'Time out'])

# Filter the dataframe based on 'Responsibility' and 'Name'
filtered_df = df[~df['Responsibility'].isin(['Technology', 'Office Work']) & ~df['Name'].str.contains('Available')]

# Get unique names
unique_names = filtered_df['Name'].unique()

# Create a dictionary with names as keys and 0 as the initial value
greeter_shift_done_dict = {name: 0 for name in unique_names}

# Display the initialized dictionary
greeter_shift_done_dict

{'Andrew (AJ) # Bowlen': 0,
 'Analuisa Flores Teran': 0,
 'Finn Broderick': 0,
 'Ricardo Gomez': 0,
 'Solymar Kneale': 0,
 'Carson Turk': 0,
 'Dev Mahajan': 0,
 'Ethan Palmer': 0,
 'Ana* Gonzalez': 0,
 'Marsailles Wesley': 0,
 'Josiah Galvan-Lewis': 0,
 'Kaeden Stander': 0,
 'Hanah # Wilkins': 0,
 'Kevin^ Jenkins': 0,
 'Luke* Ruhl': 0,
 'Joaquin Mendoza': 0,
 'Miguel Tanner': 0,
 'Elijah Kodjak': 0,
 'Lauren* Koski': 0,
 'Cristian Andrade': 0,
 'Lulu (Lyndsey)* Arterburn': 0,
 'AJ # Alkhamees': 0,
 'Joaquin Salinas': 0,
 'Cassidy Jacobs': 0,
 'Mariana Cepeda': 0,
 'Scott Hackney': 0,
 'Summer Sutton': 0,
 'Anahi Guitierrez': 0,
 'Diego Navarro': 0,
 'Lohith Ramesh': 0,
 'Saaijeesh Sottalu Naresh': 0,
 'Cassidy Sylves': 0,
 'Zadie Knapp': 0,
 'Serenity* Munoz': 0,
 'Elizabeth Jurry': 0,
 'Madelyn* Ozdarski': 0,
 'Naman Talwar': 0,
 'Aaron* Dorrance': 0,
 'Calvin # Levy': 0,
 'Ellia* Bono': 0,
 'Kayhaan Rashiq': 0,
 'Mali Chavez': 0}

In [492]:
# #converting workstatus.ipynb into .py file
# !jupyter nbconvert --to script work_status.ipynb

In [493]:
#imported the dataframe from workstatus notebook file
from work_status import work_status_df  

work_status_copy_df = work_status_df
work_status_copy_df.head(5)

                   Name Start_time  End_time  Working Flag
0  Andrew (AJ) # Bowlen   08:30:00  09:00:00             1
1  Andrew (AJ) # Bowlen   09:00:00  09:30:00             1
2  Andrew (AJ) # Bowlen   09:30:00  10:00:00             1
3  Andrew (AJ) # Bowlen   10:00:00  10:30:00             1
4  Andrew (AJ) # Bowlen   10:30:00  11:00:00             1

In [494]:
# Convert Start_time and End_time to datetime
work_status_copy_df['Start_time'] = pd.to_datetime(work_status_copy_df['Start_time'], format='%H:%M:%S').dt.time
work_status_copy_df['End_time'] = pd.to_datetime(work_status_copy_df['End_time'], format='%H:%M:%S').dt.time

# Find the minimum start time and maximum end time
min_start_time = min(work_status_copy_df['Start_time'])
max_end_time = max(work_status_copy_df['End_time'])

# Create 30-minute time intervals from min to max
time_intervals = []
current_time = pd.to_datetime(f"{min_start_time}")  # Use a reference date for time calculations

while current_time.time() < max_end_time:  # Change to < to prevent going over
    next_time = (current_time + timedelta(minutes=30)).time()
    
    # Adjust the end time to not exceed max_end_time
    if next_time > max_end_time:
        next_time = max_end_time
    
    time_intervals.append((current_time.time(), next_time))
    
    # Stop if next_time reaches or exceeds max_end_time
    if next_time == max_end_time:
        break
    
    current_time += timedelta(minutes=30)

# Create a results DataFrame to hold the output
results = []

# Iterate over the created time intervals
for start_time, end_time in time_intervals:
    # Filter employees who are working in the current time interval
    working_employees = work_status_copy_df[
        (work_status_copy_df['Start_time'] < end_time) & 
        (work_status_copy_df['End_time'] > start_time) &
        (work_status_copy_df['Working Flag'] == 1)
    ]

    # If there are working employees, add their names to the results, each on a new line
    if not working_employees.empty:
        for name in working_employees['Name'].unique():
            results.append({
                'Start_time': start_time,
                'End_time': end_time,
                'Employee': name
            })
    else:
        results.append({
            'Start_time': start_time,
            'End_time': end_time,
            'Employee': ''  
        })

# Create a DataFrame from the results
greeter_priority_df = pd.DataFrame(results)

# Display the result
greeter_priority_df

    Start_time  End_time               Employee
0     08:30:00  09:00:00   Andrew (AJ) # Bowlen
1     08:30:00  09:00:00  Analuisa Flores Teran
2     08:30:00  09:00:00         Finn Broderick
3     08:30:00  09:00:00          Ricardo Gomez
4     08:30:00  09:00:00         Solymar Kneale
..         ...       ...                    ...
209   18:00:00  18:30:00        Aaron* Dorrance
210   18:00:00  18:30:00          Calvin # Levy
211   18:00:00  18:30:00            Ellia* Bono
212   18:00:00  18:30:00         Kayhaan Rashiq
213   18:00:00  18:30:00            Mali Chavez

[214 rows x 3 columns]

In [495]:
emp_count_req= pd.read_excel("00_Input/02_Emp_Count_Requirement.xlsx")
emp_count_req.head()

,From_Time,To_Time,Reg_Up_Needed,Reg_Down_Needed,Greeter_Up_Needed,Greeter_Down_Needed,Min_Total_Emp_Needed
0,07:30:00,08:00:00,3,3,0,0,6
1,08:00:00,08:30:00,3,3,0,0,6
2,08:30:00,09:00:00,3,3,1,1,8
3,09:00:00,09:30:00,3,3,1,1,8
4,09:30:00,10:00:00,3,3,1,1,8

In [496]:
greeter_assignment=emp_count_req[['From_Time','To_Time','Greeter_Down_Needed','Greeter_Up_Needed']]
greeter_assignment.head()

  From_Time   To_Time  Greeter_Down_Needed  Greeter_Up_Needed
0  07:30:00  08:00:00                    0                  0
1  08:00:00  08:30:00                    0                  0
2  08:30:00  09:00:00                    1                  1
3  09:00:00  09:30:00                    1                  1
4  09:30:00  10:00:00                    1                  1

In [497]:
def check_greeter_allocation(row):
    from_time = row['From_Time']
    to_time = row['To_Time']
    
    # Check for greeter responsibilities in filtered_df
    greeter_records = filtered_df[(filtered_df['Responsibility'] == 'Greeter') & 
                                  (filtered_df['Time in'] < to_time) & 
                                  (filtered_df['Time out'] > from_time)]

    greeter_count = len(greeter_records)

    # Initialize the columns
    greeter_up_allocated = 0
    greeter_down_allocated = 0
    employee_assigned_upstairs = ""
    employee_assigned_downstairs = ""

    if greeter_count == 1:
        greeter_up_allocated = 1
        employee_assigned_upstairs = greeter_records['Name'].values[0]
    elif greeter_count > 1:
        greeter_down_allocated = 1
        employee_assigned_downstairs = ", ".join(greeter_records['Name'].values)
    return pd.Series([greeter_up_allocated, employee_assigned_upstairs,greeter_down_allocated, employee_assigned_downstairs])

# Apply the function and create new columns
greeter_assignment[['Greeter_Up_Allocated', 'Employee_Assigned_Upstairs', 'Greeter_Down_Allocated','Employee_Assigned_Downstairs']] = greeter_assignment.apply(check_greeter_allocation, axis=1)

# Display the updated greeter_assignment DataFrame
greeter_assignment

,From_Time,To_Time,Greeter_Down_Needed,Greeter_Up_Needed,Greeter_Up_Allocated,Employee_Assigned_Upstairs,Greeter_Down_Allocated,Employee_Assigned_Downstairs
0,07:30:00,08:00:00,0,0,0,,0,
1,08:00:00,08:30:00,0,0,0,,0,
2,08:30:00,09:00:00,1,1,0,,0,
3,09:00:00,09:30:00,1,1,1,Dev Mahajan,0,
4,09:30:00,10:00:00,1,1,0,,0,
5,10:00:00,10:30:00,1,1,0,,0,
6,10:30:00,11:00:00,1,1,0,,0,
7,11:00:00,11:30:00,1,1,1,Hanah # Wilkins,0,
8,11:30:00,12:00:00,1,1,1,Hanah # Wilkins,0,
9,12:00:00,12:30:00,1,1,1,Hanah # Wilkins,0,
10,12:30:00,13:00:00,1,1,1,Hanah # Wilkins,0,
11,13:00:00,13:30:00,1,1,1,Hanah # Wilkins,0,
12,13:30:00,14:00:00,1,1,1,Hanah # Wilkins,0,
13,14:00:00,14:30:00,1,1,1,Hanah # Wilkins,0,
14,14:30:00,15:00:00,1,1,0,,0,
15,15:00:00,15:30:00,1,1,0,,0,
16,15:30:00,16:00:00,1,1,0,,0,
17,16:00:00,16:30:00,1,1,0,,0,
18,16:30:00,17:00:00,1,1,0,,0,
19,17:00:00,17:30:00,1,1,0,,0,
20,17:30:00,18:00:00,1,1,0,,0,
21,18:00:00,18:30:00,1,1,0,,0,
22,18:30:00,19:00:00,1,1,0,,0,
23,19:00:00,19:30:00,1,1,0,,0,

In [498]:
# Iterate through the greeter_assignment_df to update the dictionary
for idx, row in greeter_assignment.iterrows():
    # Check if there's an assigned employee upstairs
    if row['Employee_Assigned_Upstairs']:
        name_upstairs = row['Employee_Assigned_Upstairs']
        if name_upstairs in greeter_shift_done_dict:
            greeter_shift_done_dict[name_upstairs] += 1
    
    # Check if there's an assigned employee downstairs
    if row['Employee_Assigned_Downstairs']:
        name_downstairs = row['Employee_Assigned_Downstairs']
        if name_downstairs in greeter_shift_done_dict:
            greeter_shift_done_dict[name_downstairs] += 1

# Display the updated dictionary
print(greeter_shift_done_dict)

{'Andrew (AJ) # Bowlen': 0, 'Analuisa Flores Teran': 0, 'Finn Broderick': 0, 'Ricardo Gomez': 0, 'Solymar Kneale': 0, 'Carson Turk': 0, 'Dev Mahajan': 1, 'Ethan Palmer': 0, 'Ana* Gonzalez': 0, 'Marsailles Wesley': 0, 'Josiah Galvan-Lewis': 0, 'Kaeden Stander': 0, 'Hanah # Wilkins': 7, 'Kevin^ Jenkins': 0, 'Luke* Ruhl': 0, 'Joaquin Mendoza': 0, 'Miguel Tanner': 0, 'Elijah Kodjak': 0, 'Lauren* Koski': 0, 'Cristian Andrade': 0, 'Lulu (Lyndsey)* Arterburn': 0, 'AJ # Alkhamees': 0, 'Joaquin Salinas': 0, 'Cassidy Jacobs': 0, 'Mariana Cepeda': 0, 'Scott Hackney': 0, 'Summer Sutton': 0, 'Anahi Guitierrez': 0, 'Diego Navarro': 0, 'Lohith Ramesh': 0, 'Saaijeesh Sottalu Naresh': 0, 'Cassidy Sylves': 0, 'Zadie Knapp': 0, 'Serenity* Munoz': 0, 'Elizabeth Jurry': 0, 'Madelyn* Ozdarski': 0, 'Naman Talwar': 0, 'Aaron* Dorrance': 0, 'Calvin # Levy': 0, 'Ellia* Bono': 0, 'Kayhaan Rashiq': 0, 'Mali Chavez': 0}

In [499]:
greeter_priority_df['Greeter_shifts_done_so_far'] = greeter_priority_df['Employee'].map(greeter_shift_done_dict).fillna(0).astype(int)

# Display the updated dataframe
greeter_priority_df

    Start_time  End_time               Employee  Greeter_shifts_done_so_far
0     08:30:00  09:00:00   Andrew (AJ) # Bowlen                           0
1     08:30:00  09:00:00  Analuisa Flores Teran                           0
2     08:30:00  09:00:00         Finn Broderick                           0
3     08:30:00  09:00:00          Ricardo Gomez                           0
4     08:30:00  09:00:00         Solymar Kneale                           0
..         ...       ...                    ...                         ...
209   18:00:00  18:30:00        Aaron* Dorrance                           0
210   18:00:00  18:30:00          Calvin # Levy                           0
211   18:00:00  18:30:00            Ellia* Bono                           0
212   18:00:00  18:30:00         Kayhaan Rashiq                           0
213   18:00:00  18:30:00            Mali Chavez                           0

[214 rows x 4 columns]

In [500]:
# Ensure all time columns are converted to strings in case they are of type datetime.time
greeter_priority_df['Start_time'] = greeter_priority_df['Start_time'].astype(str)
greeter_priority_df['End_time'] = greeter_priority_df['End_time'].astype(str)
work_status_copy_df['Start_time'] = work_status_copy_df['Start_time'].astype(str)
work_status_copy_df['End_time'] = work_status_copy_df['End_time'].astype(str)

# Function to calculate remaining working hours
def calculate_remaining_hours(employee, current_time, work_status_df):
    # Filter the work_status_copy_df for the specific employee and working hours
    employee_schedule = work_status_df[(work_status_df['Name'] == employee) & (work_status_df['Working Flag'] == 1)]
    
    remaining_time = 0
    current_time = datetime.strptime(current_time, '%H:%M:%S')  # Convert to datetime object
    
    for _, row in employee_schedule.iterrows():
        shift_start = datetime.strptime(row['Start_time'], '%H:%M:%S')
        shift_end = datetime.strptime(row['End_time'], '%H:%M:%S')
        
        if shift_start >= current_time:
            remaining_time += (shift_end - shift_start).total_seconds() / 3600  # Convert seconds to hours
    
    return remaining_time

# Add 'Remaining_hours_left' column to greeter_priority_df
greeter_priority_df['Remaining_hours_left'] = greeter_priority_df.apply(
    lambda row: calculate_remaining_hours(row['Employee'], row['End_time'], work_status_copy_df), axis=1
)

# Display the updated dataframe
greeter_priority_df.head(20)

,Start_time,End_time,Employee,Greeter_shifts_done_so_far,Remaining_hours_left
0,08:30:00,09:00:00,Andrew (AJ) # Bowlen,0,5.0
1,08:30:00,09:00:00,Analuisa Flores Teran,0,2.0
2,08:30:00,09:00:00,Finn Broderick,0,2.0
3,08:30:00,09:00:00,Ricardo Gomez,0,3.0
4,08:30:00,09:00:00,Solymar Kneale,0,2.5
5,09:00:00,09:30:00,Andrew (AJ) # Bowlen,0,4.5
6,09:00:00,09:30:00,Analuisa Flores Teran,0,1.5
7,09:00:00,09:30:00,Finn Broderick,0,1.5
8,09:00:00,09:30:00,Ricardo Gomez,0,2.5
9,09:00:00,09:30:00,Solymar Kneale,0,2.0
10,09:00:00,09:30:00,Carson Turk,0,3.5
11,09:00:00,09:30:00,Dev Mahajan,1,0.0
12,09:00:00,09:30:00,Ethan Palmer,0,2.5
13,09:30:00,10:00:00,Andrew (AJ) # Bowlen,0,4.0
14,09:30:00,10:00:00,Analuisa Flores Teran,0,1.0
15,09:30:00,10:00:00,Finn Broderick,0,1.0
16,09:30:00,10:00:00,Ricardo Gomez,0,2.0
17,09:30:00,10:00:00,Solymar Kneale,0,1.5
18,09:30:00,10:00:00,Carson Turk,0,3.0
19,09:30:00,10:00:00,Ethan Palmer,0,2.0

In [501]:
# Convert 'Start_time' and 'End_time' to time objects
greeter_priority_df['Start_time'] = pd.to_datetime(greeter_priority_df['Start_time'], format='%H:%M:%S').dt.time
greeter_priority_df['End_time'] = pd.to_datetime(greeter_priority_df['End_time'], format='%H:%M:%S').dt.time

# Assign priority based on remaining hours and greeting shifts
def assign_priority(df):
    # Initialize the priority column
    df['Priority'] = 0
    
    # Group by Start_time and End_time
    for (start, end), group in df.groupby(['Start_time', 'End_time']):
        # Sort by Remaining_hours_left (ascending) and Greeter_shifts_done_so_far (ascending)
        sorted_group = group.sort_values(by=['Remaining_hours_left', 'Greeter_shifts_done_so_far'], ascending=[True, True])

        # Assign priority using dense ranking method
        sorted_group['Priority'] = sorted_group['Remaining_hours_left'].rank(method='dense', ascending=True).astype(int)
        
        # Ensure that completed shifts get higher priority number (lower priority)
        completed_shifts = sorted_group[sorted_group['Greeter_shifts_done_so_far'] > 0]
        if not completed_shifts.empty:
            max_priority = sorted_group['Priority'].max() + 1
            sorted_group.loc[completed_shifts.index, 'Priority'] = max_priority
        
        # Update original dataframe with assigned priorities
        df.loc[sorted_group.index, 'Priority'] = sorted_group['Priority']

    return df

# Apply the priority assignment function
greeter_priority_df = assign_priority(greeter_priority_df)

# Sort by Start_time and End_time to maintain time order
greeter_priority_df = greeter_priority_df.sort_values(by=['Start_time', 'End_time'])

# Display the updated dataframe
greeter_priority_df.head(300)

,Start_time,End_time,Employee,Greeter_shifts_done_so_far,Remaining_hours_left,Priority
0,08:30:00,09:00:00,Andrew (AJ) # Bowlen,0,5.0,4
1,08:30:00,09:00:00,Analuisa Flores Teran,0,2.0,1
2,08:30:00,09:00:00,Finn Broderick,0,2.0,1
3,08:30:00,09:00:00,Ricardo Gomez,0,3.0,3
4,08:30:00,09:00:00,Solymar Kneale,0,2.5,2
...,...,...,...,...,...,...
209,18:00:00,18:30:00,Aaron* Dorrance,0,0.0,1
210,18:00:00,18:30:00,Calvin # Levy,0,0.0,1
211,18:00:00,18:30:00,Ellia* Bono,0,0.0,1
212,18:00:00,18:30:00,Kayhaan Rashiq,0,0.0,1
213,18:00:00,18:30:00,Mali Chavez,0,0.0,1

In [502]:
# Function to assign greeters based on priority
def assign_greeters(greeter_priority_df, greeter_assignment, greeter_shift_done_dict):
    for idx, row in greeter_assignment.iterrows():
        # Get needed greeters
        needed_up = row['Greeter_Up_Needed']
        needed_down = row['Greeter_Down_Needed']

        # Assign upstairs greeters
        if needed_up > 0 and row['Greeter_Up_Allocated'] < needed_up:
            available_upstairs = greeter_priority_df[greeter_priority_df['Greeter_shifts_done_so_far'] == 0].copy()
            highest_priority_candidates = available_upstairs[available_upstairs['Priority'] == available_upstairs['Priority'].min()]

            if not highest_priority_candidates.empty:
                assigned_upstairs = highest_priority_candidates.sample(n=1)
                assigned_employee = assigned_upstairs['Employee'].values[0]

                # Ensure 'Employee_Assigned_Upstairs' is treated as a list
                if isinstance(greeter_assignment.at[idx, 'Employee_Assigned_Upstairs'], str) or greeter_assignment.at[idx, 'Employee_Assigned_Upstairs'] == '':
                    greeter_assignment.at[idx, 'Employee_Assigned_Upstairs'] = []  # Initialize as empty list
                elif not isinstance(greeter_assignment.at[idx, 'Employee_Assigned_Upstairs'], list):
                    greeter_assignment.at[idx, 'Employee_Assigned_Upstairs'] = list(greeter_assignment.at[idx, 'Employee_Assigned_Upstairs'])  # Ensure it's a list

                # Append the assigned employee only if it's not None
                if assigned_employee is not None:
                    greeter_assignment.at[idx, 'Employee_Assigned_Upstairs'].append(assigned_employee)

                    # Update allocation count
                    greeter_assignment.at[idx, 'Greeter_Up_Allocated'] += 1
                    
                    # Check if assigned employee exists in the dictionary
                    if assigned_employee in greeter_shift_done_dict:
                        # Update the greeter shifts done dictionary
                        greeter_shift_done_dict[assigned_employee] += 1
                    else:
                        print(f"Warning: {assigned_employee} not found in greeter_shift_done_dict")

                    # Remove assigned greeter from priority DataFrame
                    greeter_priority_df = greeter_priority_df[~greeter_priority_df['Employee'].isin([assigned_employee])]

        # Assign downstairs greeters
        if needed_down > 0 and row['Greeter_Down_Allocated'] < needed_down:
            available_downstairs = greeter_priority_df[greeter_priority_df['Greeter_shifts_done_so_far'] == 0].copy()
            highest_priority_candidates = available_downstairs[available_downstairs['Priority'] == available_downstairs['Priority'].min()]

            if not highest_priority_candidates.empty:
                assigned_downstairs = highest_priority_candidates.sample(n=1)
                assigned_employee_down = assigned_downstairs['Employee'].values[0]

                # Ensure 'Employee_Assigned_Downstairs' is treated as a list
                if isinstance(greeter_assignment.at[idx, 'Employee_Assigned_Downstairs'], str) or greeter_assignment.at[idx, 'Employee_Assigned_Downstairs'] == '':
                    greeter_assignment.at[idx, 'Employee_Assigned_Downstairs'] = []  # Initialize as empty list
                elif not isinstance(greeter_assignment.at[idx, 'Employee_Assigned_Downstairs'], list):
                    greeter_assignment.at[idx, 'Employee_Assigned_Downstairs'] = list(greeter_assignment.at[idx, 'Employee_Assigned_Downstairs'])  # Ensure it's a list

                # Append the assigned employee only if it's not None
                if assigned_employee_down is not None:
                    greeter_assignment.at[idx, 'Employee_Assigned_Downstairs'].append(assigned_employee_down)

                    # Update allocation count
                    greeter_assignment.at[idx, 'Greeter_Down_Allocated'] += 1
                    
                    # Check if assigned employee exists in the dictionary
                    if assigned_employee_down in greeter_shift_done_dict:
                        # Update the greeter shifts done dictionary
                        greeter_shift_done_dict[assigned_employee_down] += 1
                    
                    # Remove assigned greeter from priority DataFrame
                    greeter_priority_df = greeter_priority_df[~greeter_priority_df['Employee'].isin([assigned_employee_down])]

    return greeter_assignment, greeter_shift_done_dict

# Run the assignment function
greeter_assignment, greeter_shift_done_dict = assign_greeters(greeter_priority_df, greeter_assignment, greeter_shift_done_dict)

# Display the updated assignment and dictionary
greeter_assignment

,From_Time,To_Time,Greeter_Down_Needed,Greeter_Up_Needed,Greeter_Up_Allocated,Employee_Assigned_Upstairs,Greeter_Down_Allocated,Employee_Assigned_Downstairs
0,07:30:00,08:00:00,0,0,0,,0,
1,08:00:00,08:30:00,0,0,0,,0,
2,08:30:00,09:00:00,1,1,1,[Analuisa Flores Teran],1,[Summer Sutton]
3,09:00:00,09:30:00,1,1,1,Dev Mahajan,1,[Naman Talwar]
4,09:30:00,10:00:00,1,1,1,[Finn Broderick],1,[Anahi Guitierrez]
5,10:00:00,10:30:00,1,1,1,[Cristian Andrade],1,[Miguel Tanner]
6,10:30:00,11:00:00,1,1,1,[Lulu (Lyndsey)* Arterburn],1,[Ana* Gonzalez]
7,11:00:00,11:30:00,1,1,1,Hanah # Wilkins,1,[Zadie Knapp]
8,11:30:00,12:00:00,1,1,1,Hanah # Wilkins,1,[Ethan Palmer]
9,12:00:00,12:30:00,1,1,1,Hanah # Wilkins,1,[Kaeden Stander]
10,12:30:00,13:00:00,1,1,1,Hanah # Wilkins,1,[Aaron* Dorrance]
11,13:00:00,13:30:00,1,1,1,Hanah # Wilkins,1,[Elizabeth Jurry]
12,13:30:00,14:00:00,1,1,1,Hanah # Wilkins,1,[Andrew (AJ) # Bowlen]
13,14:00:00,14:30:00,1,1,1,Hanah # Wilkins,1,[Diego Navarro]
14,14:30:00,15:00:00,1,1,1,[Luke* Ruhl],1,[Ellia* Bono]
15,15:00:00,15:30:00,1,1,1,[Saaijeesh Sottalu Naresh],1,[Lauren* Koski]
16,15:30:00,16:00:00,1,1,1,[Elijah Kodjak],1,[Mariana Cepeda]
17,16:00:00,16:30:00,1,1,1,[Carson Turk],1,[Calvin # Levy]
18,16:30:00,17:00:00,1,1,1,[Madelyn* Ozdarski],1,[Cassidy Sylves]
19,17:00:00,17:30:00,1,1,1,[Joaquin Mendoza],1,[Solymar Kneale]
20,17:30:00,18:00:00,1,1,1,[Lohith Ramesh],1,[Ricardo Gomez]
21,18:00:00,18:30:00,1,1,1,[AJ # Alkhamees],1,[Josiah Galvan-Lewis]
22,18:30:00,19:00:00,1,1,1,[Mali Chavez],1,[Scott Hackney]
23,19:00:00,19:30:00,1,1,1,[Cassidy Jacobs],1,[Kayhaan Rashiq]

In [503]:
greeter_shift_done_dict

{'Andrew (AJ) # Bowlen': 1,
 'Analuisa Flores Teran': 1,
 'Finn Broderick': 1,
 'Ricardo Gomez': 1,
 'Solymar Kneale': 1,
 'Carson Turk': 1,
 'Dev Mahajan': 1,
 'Ethan Palmer': 1,
 'Ana* Gonzalez': 1,
 'Marsailles Wesley': 0,
 'Josiah Galvan-Lewis': 1,
 'Kaeden Stander': 1,
 'Hanah # Wilkins': 7,
 'Kevin^ Jenkins': 0,
 'Luke* Ruhl': 1,
 'Joaquin Mendoza': 1,
 'Miguel Tanner': 1,
 'Elijah Kodjak': 1,
 'Lauren* Koski': 1,
 'Cristian Andrade': 1,
 'Lulu (Lyndsey)* Arterburn': 1,
 'AJ # Alkhamees': 1,
 'Joaquin Salinas': 0,
 'Cassidy Jacobs': 1,
 'Mariana Cepeda': 1,
 'Scott Hackney': 1,
 'Summer Sutton': 1,
 'Anahi Guitierrez': 1,
 'Diego Navarro': 1,
 'Lohith Ramesh': 1,
 'Saaijeesh Sottalu Naresh': 1,
 'Cassidy Sylves': 1,
 'Zadie Knapp': 1,
 'Serenity* Munoz': 0,
 'Elizabeth Jurry': 1,
 'Madelyn* Ozdarski': 1,
 'Naman Talwar': 1,
 'Aaron* Dorrance': 1,
 'Calvin # Levy': 1,
 'Ellia* Bono': 1,
 'Kayhaan Rashiq': 1,
 'Mali Chavez': 1}