In [50]:
import pandas as pd
from datetime import timedelta
# To ignore warnings
import warnings
warnings.filterwarnings("ignore")

In [51]:
# Reading the Excel file
path = "Book1.xlsx"
df = pd.read_excel(path, names=['Name', 'Roles', 'Responsibility', 'Time in', 'Time out'])

# Filter the dataframe based on 'Responsibility' and 'Name'
filtered_df = df[~df['Responsibility'].isin(['Technology', 'Office Work']) & ~df['Name'].str.contains('Available')]

# Get unique names
unique_names = filtered_df['Name'].unique()

# Create a dictionary with names as keys and 0 as the initial value
greeter_shift_done_dict = {name: 0 for name in unique_names}

# Display the initialized dictionary
greeter_shift_done_dict

{'Andrew (AJ) # Bowlen': 0,
 'Analuisa Flores Teran': 0,
 'Finn Broderick': 0,
 'Ricardo Gomez': 0,
 'Solymar Kneale': 0,
 'Carson Turk': 0,
 'Dev Mahajan': 0,
 'Ethan Palmer': 0,
 'Ana* Gonzalez': 0,
 'Marsailles Wesley': 0,
 'Josiah Galvan-Lewis': 0,
 'Kaeden Stander': 0,
 'Hanah # Wilkins': 0,
 'Kevin^ Jenkins': 0,
 'Luke* Ruhl': 0,
 'Joaquin Mendoza': 0,
 'Miguel Tanner': 0,
 'Elijah Kodjak': 0,
 'Lauren* Koski': 0,
 'Cristian Andrade': 0,
 'Lulu (Lyndsey)* Arterburn': 0,
 'AJ # Alkhamees': 0,
 'Joaquin Salinas': 0,
 'Cassidy Jacobs': 0,
 'Mariana Cepeda': 0,
 'Scott Hackney': 0,
 'Summer Sutton': 0,
 'Anahi Guitierrez': 0,
 'Diego Navarro': 0,
 'Lohith Ramesh': 0,
 'Saaijeesh Sottalu Naresh': 0,
 'Cassidy Sylves': 0,
 'Zadie Knapp': 0,
 'Serenity* Munoz': 0,
 'Elizabeth Jurry': 0,
 'Madelyn* Ozdarski': 0,
 'Naman Talwar': 0,
 'Aaron* Dorrance': 0,
 'Calvin # Levy': 0,
 'Ellia* Bono': 0,
 'Kayhaan Rashiq': 0,
 'Mali Chavez': 0}

In [52]:
# #converting workstatus.ipynb into .py file
# !jupyter nbconvert --to script work_status.ipynb

In [53]:
#imported the dataframe from workstatus notebook file
from work_status import work_status_df  

work_status_copy_df = work_status_df
work_status_copy_df.head(5)

                   Name Start_time  End_time  Working Flag
0  Andrew (AJ) # Bowlen   08:30:00  09:00:00             1
1  Andrew (AJ) # Bowlen   09:00:00  09:30:00             1
2  Andrew (AJ) # Bowlen   09:30:00  10:00:00             1
3  Andrew (AJ) # Bowlen   10:00:00  10:30:00             1
4  Andrew (AJ) # Bowlen   10:30:00  11:00:00             1

In [54]:
# Convert Start_time and End_time to datetime
work_status_copy_df['Start_time'] = pd.to_datetime(work_status_copy_df['Start_time'], format='%H:%M:%S').dt.time
work_status_copy_df['End_time'] = pd.to_datetime(work_status_copy_df['End_time'], format='%H:%M:%S').dt.time

# Find the minimum start time and maximum end time
min_start_time = min(work_status_copy_df['Start_time'])
max_end_time = max(work_status_copy_df['End_time'])

# Create 30-minute time intervals from min to max
time_intervals = []
current_time = pd.to_datetime(f"{min_start_time}")  # Use a reference date for time calculations

while current_time.time() <= max_end_time:
    next_time = (current_time + timedelta(minutes=30)).time()
    time_intervals.append((current_time.time(), next_time))
    current_time += timedelta(minutes=30)

# Create a results DataFrame to hold the output
results = []

# Iterate over the created time intervals
for start_time, end_time in time_intervals:
    # Filter employees who are working in the current time interval
    working_employees = work_status_copy_df[
        (work_status_copy_df['Start_time'] < end_time) & 
        (work_status_copy_df['End_time'] > start_time) &
        (work_status_copy_df['Working Flag'] == 1)
    ]

    # If there are working employees, add their names to the results, each on a new line
    if not working_employees.empty:
        for name in working_employees['Name'].unique():
            results.append({
                'Start_time': start_time,
                'End_time': end_time,
                'Employee': name
            })
    else:
        results.append({
            'Start_time': start_time,
            'End_time': end_time,
            'Employee': 'None'  # Or leave blank
        })

# Create a DataFrame from the results
greeter_priority_df = pd.DataFrame(results)

# Display the result
greeter_priority_df.head(20)

   Start_time  End_time               Employee
0    08:30:00  09:00:00   Andrew (AJ) # Bowlen
1    08:30:00  09:00:00  Analuisa Flores Teran
2    08:30:00  09:00:00         Finn Broderick
3    08:30:00  09:00:00          Ricardo Gomez
4    08:30:00  09:00:00         Solymar Kneale
5    09:00:00  09:30:00   Andrew (AJ) # Bowlen
6    09:00:00  09:30:00  Analuisa Flores Teran
7    09:00:00  09:30:00         Finn Broderick
8    09:00:00  09:30:00          Ricardo Gomez
9    09:00:00  09:30:00         Solymar Kneale
10   09:00:00  09:30:00            Carson Turk
11   09:00:00  09:30:00            Dev Mahajan
12   09:00:00  09:30:00           Ethan Palmer
13   09:30:00  10:00:00   Andrew (AJ) # Bowlen
14   09:30:00  10:00:00  Analuisa Flores Teran
15   09:30:00  10:00:00         Finn Broderick
16   09:30:00  10:00:00          Ricardo Gomez
17   09:30:00  10:00:00         Solymar Kneale
18   09:30:00  10:00:00            Carson Turk
19   09:30:00  10:00:00           Ethan Palmer

In [55]:
emp_count_req= pd.read_excel("00_Input/02_Emp_Count_Requirement.xlsx")
emp_count_req.head()

,From_Time,To_Time,Reg_Up_Needed,Reg_Down_Needed,Greeter_Up_Needed,Greeter_Down_Needed,Min_Total_Emp_Needed
0,07:30:00,08:00:00,3,3,0,0,6
1,08:00:00,08:30:00,3,3,0,0,6
2,08:30:00,09:00:00,3,3,1,1,8
3,09:00:00,09:30:00,3,3,1,1,8
4,09:30:00,10:00:00,3,3,1,1,8

In [56]:
greeter_assignment=emp_count_req[['From_Time','To_Time','Greeter_Down_Needed','Greeter_Up_Needed']]
greeter_assignment.head()

  From_Time   To_Time  Greeter_Down_Needed  Greeter_Up_Needed
0  07:30:00  08:00:00                    0                  0
1  08:00:00  08:30:00                    0                  0
2  08:30:00  09:00:00                    1                  1
3  09:00:00  09:30:00                    1                  1
4  09:30:00  10:00:00                    1                  1

In [59]:
def check_greeter_allocation(row):
    from_time = row['From_Time']
    to_time = row['To_Time']
    
    # Check for greeter responsibilities in filtered_df
    greeter_records = filtered_df[(filtered_df['Responsibility'] == 'Greeter') & 
                                  (filtered_df['Time in'] < to_time) & 
                                  (filtered_df['Time out'] > from_time)]

    greeter_count = len(greeter_records)

    # Initialize the columns
    greeter_up_allocated = 0
    greeter_down_allocated = 0
    employee_assigned_upstairs = ""
    employee_assigned_downstairs = []

    if greeter_count == 1:
        greeter_up_allocated = 1
        employee_assigned_upstairs = greeter_records['Name'].values[0]
    elif greeter_count > 1:
        greeter_down_allocated = 1
        employee_assigned_downstairs = ", ".join(greeter_records['Name'].values)
    return pd.Series([greeter_up_allocated, employee_assigned_upstairs,greeter_down_allocated, employee_assigned_downstairs])

# Apply the function and create new columns
greeter_assignment[['Greeter_Up_Allocated', 'Employee_Assigned_Upstairs', 'Greeter_Down_Allocated','Employee_Assigned_Downstairs']] = greeter_assignment.apply(check_greeter_allocation, axis=1)

# Display the updated greeter_assignment DataFrame
greeter_assignment

,From_Time,To_Time,Greeter_Down_Needed,Greeter_Up_Needed,Greeter_Up_Allocated,Employee_Assigned_Upstairs,Greeter_Down_Allocated,Employee_Assigned_Downstairs
0,07:30:00,08:00:00,0,0,0,,0,[]
1,08:00:00,08:30:00,0,0,0,,0,[]
2,08:30:00,09:00:00,1,1,0,,0,[]
3,09:00:00,09:30:00,1,1,1,Dev Mahajan,0,[]
4,09:30:00,10:00:00,1,1,0,,0,[]
5,10:00:00,10:30:00,1,1,0,,0,[]
6,10:30:00,11:00:00,1,1,0,,0,[]
7,11:00:00,11:30:00,1,1,1,Hanah # Wilkins,0,[]
8,11:30:00,12:00:00,1,1,1,Hanah # Wilkins,0,[]
9,12:00:00,12:30:00,1,1,1,Hanah # Wilkins,0,[]
10,12:30:00,13:00:00,1,1,1,Hanah # Wilkins,0,[]
11,13:00:00,13:30:00,1,1,1,Hanah # Wilkins,0,[]
12,13:30:00,14:00:00,1,1,1,Hanah # Wilkins,0,[]
13,14:00:00,14:30:00,1,1,1,Hanah # Wilkins,0,[]
14,14:30:00,15:00:00,1,1,0,,0,[]
15,15:00:00,15:30:00,1,1,0,,0,[]
16,15:30:00,16:00:00,1,1,0,,0,[]
17,16:00:00,16:30:00,1,1,0,,0,[]
18,16:30:00,17:00:00,1,1,0,,0,[]
19,17:00:00,17:30:00,1,1,0,,0,[]
20,17:30:00,18:00:00,1,1,0,,0,[]
21,18:00:00,18:30:00,1,1,0,,0,[]
22,18:30:00,19:00:00,1,1,0,,0,[]
23,19:00:00,19:30:00,1,1,0,,0,[]