In [13]:
import pandas as pd
from datetime import timedelta
from datetime import datetime
import json
# To ignore warnings
import warnings
warnings.filterwarnings("ignore")

In [14]:
# Reading the Excel file
path = "Book1.xlsx"
df = pd.read_excel(path, names=['Name', 'Roles', 'Responsibility', 'Time in', 'Time out'])

# Filter the dataframe based on 'Responsibility' and 'Name'
filtered_df = df[~df['Responsibility'].isin(['Technology', 'Office Work']) & ~df['Name'].str.contains('Available')]

# Get unique names
unique_names = filtered_df['Name'].unique()

# Create a dictionary with names as keys and 0 as the initial value
greeter_shift_done_dict = {name: 0 for name in unique_names}

# Display the initialized dictionary
greeter_shift_done_dict

{'Andrew (AJ) # Bowlen': 0,
 'Analuisa Flores Teran': 0,
 'Finn Broderick': 0,
 'Ricardo Gomez': 0,
 'Solymar Kneale': 0,
 'Carson Turk': 0,
 'Dev Mahajan': 0,
 'Ethan Palmer': 0,
 'Ana* Gonzalez': 0,
 'Marsailles Wesley': 0,
 'Josiah Galvan-Lewis': 0,
 'Kaeden Stander': 0,
 'Hanah # Wilkins': 0,
 'Kevin^ Jenkins': 0,
 'Luke* Ruhl': 0,
 'Joaquin Mendoza': 0,
 'Miguel Tanner': 0,
 'Elijah Kodjak': 0,
 'Lauren* Koski': 0,
 'Cristian Andrade': 0,
 'Lulu (Lyndsey)* Arterburn': 0,
 'AJ # Alkhamees': 0,
 'Joaquin Salinas': 0,
 'Cassidy Jacobs': 0,
 'Mariana Cepeda': 0,
 'Scott Hackney': 0,
 'Summer Sutton': 0,
 'Anahi Guitierrez': 0,
 'Diego Navarro': 0,
 'Lohith Ramesh': 0,
 'Saaijeesh Sottalu Naresh': 0,
 'Cassidy Sylves': 0,
 'Zadie Knapp': 0,
 'Serenity* Munoz': 0,
 'Elizabeth Jurry': 0,
 'Madelyn* Ozdarski': 0,
 'Naman Talwar': 0,
 'Aaron* Dorrance': 0,
 'Calvin # Levy': 0,
 'Ellia* Bono': 0,
 'Kayhaan Rashiq': 0,
 'Mali Chavez': 0}

In [15]:
# #converting workstatus.ipynb into .py file
# !jupyter nbconvert --to script work_status.ipynb

In [16]:
#imported the dataframe from workstatus notebook file
from work_status import work_status_df  

work_status_copy_df = work_status_df
work_status_copy_df.head(5)

                   Name Start_time  End_time  Working Flag
0  Andrew (AJ) # Bowlen   08:30:00  09:00:00             1
1  Andrew (AJ) # Bowlen   09:00:00  09:30:00             1
2  Andrew (AJ) # Bowlen   09:30:00  10:00:00             1
3  Andrew (AJ) # Bowlen   10:00:00  10:30:00             1
4  Andrew (AJ) # Bowlen   10:30:00  11:00:00             1

In [17]:
# Convert Start_time and End_time to datetime
work_status_copy_df['Start_time'] = pd.to_datetime(work_status_copy_df['Start_time'], format='%H:%M:%S').dt.time
work_status_copy_df['End_time'] = pd.to_datetime(work_status_copy_df['End_time'], format='%H:%M:%S').dt.time

# Find the minimum start time and maximum end time
min_start_time = min(work_status_copy_df['Start_time'])
max_end_time = max(work_status_copy_df['End_time'])

# Create 30-minute time intervals from min to max
time_intervals = []
current_time = pd.to_datetime(f"{min_start_time}")  # Use a reference date for time calculations

while current_time.time() < max_end_time:  # Change to < to prevent going over
    next_time = (current_time + timedelta(minutes=30)).time()
    
    # Adjust the end time to not exceed max_end_time
    if next_time > max_end_time:
        next_time = max_end_time
    
    time_intervals.append((current_time.time(), next_time))
    
    # Stop if next_time reaches or exceeds max_end_time
    if next_time == max_end_time:
        break
    
    current_time += timedelta(minutes=30)

# Create a results DataFrame to hold the output
results = []

# Iterate over the created time intervals
for start_time, end_time in time_intervals:
    # Filter employees who are working in the current time interval
    working_employees = work_status_copy_df[
        (work_status_copy_df['Start_time'] < end_time) & 
        (work_status_copy_df['End_time'] > start_time) &
        (work_status_copy_df['Working Flag'] == 1)
    ]

    # If there are working employees, add their names to the results, each on a new line
    if not working_employees.empty:
        for name in working_employees['Name'].unique():
            results.append({
                'Start_time': start_time,
                'End_time': end_time,
                'Employee': name
            })
    else:
        results.append({
            'Start_time': start_time,
            'End_time': end_time,
            'Employee': ''  
        })

# Create a DataFrame from the results
greeter_priority_df = pd.DataFrame(results)

# Display the result
greeter_priority_df

    Start_time  End_time               Employee
0     08:30:00  09:00:00   Andrew (AJ) # Bowlen
1     08:30:00  09:00:00  Analuisa Flores Teran
2     08:30:00  09:00:00         Finn Broderick
3     08:30:00  09:00:00          Ricardo Gomez
4     08:30:00  09:00:00         Solymar Kneale
..         ...       ...                    ...
209   18:00:00  18:30:00        Aaron* Dorrance
210   18:00:00  18:30:00          Calvin # Levy
211   18:00:00  18:30:00            Ellia* Bono
212   18:00:00  18:30:00         Kayhaan Rashiq
213   18:00:00  18:30:00            Mali Chavez

[214 rows x 3 columns]

In [18]:
emp_count_req= pd.read_excel("00_Input/02_Emp_Count_Requirement.xlsx")
emp_count_req.head()

,From_Time,To_Time,Reg_Up_Needed,Reg_Down_Needed,Greeter_Up_Needed,Greeter_Down_Needed,Min_Total_Emp_Needed
0,07:30:00,08:00:00,3,3,0,0,6
1,08:00:00,08:30:00,3,3,0,0,6
2,08:30:00,09:00:00,3,3,1,1,8
3,09:00:00,09:30:00,3,3,1,1,8
4,09:30:00,10:00:00,3,3,1,1,8

In [19]:
greeter_assignment=emp_count_req[['From_Time','To_Time','Greeter_Down_Needed','Greeter_Up_Needed']]
greeter_assignment.head()

  From_Time   To_Time  Greeter_Down_Needed  Greeter_Up_Needed
0  07:30:00  08:00:00                    0                  0
1  08:00:00  08:30:00                    0                  0
2  08:30:00  09:00:00                    1                  1
3  09:00:00  09:30:00                    1                  1
4  09:30:00  10:00:00                    1                  1

In [20]:
# Ensure all time columns are converted to strings in case they are of type datetime.time
greeter_priority_df['Start_time'] = greeter_priority_df['Start_time'].astype(str)
greeter_priority_df['End_time'] = greeter_priority_df['End_time'].astype(str)
work_status_copy_df['Start_time'] = work_status_copy_df['Start_time'].astype(str)
work_status_copy_df['End_time'] = work_status_copy_df['End_time'].astype(str)

# Function to calculate remaining working hours
def calculate_remaining_hours(employee, current_time, work_status_df):
    # Filter the work_status_copy_df for the specific employee and working hours
    employee_schedule = work_status_df[(work_status_df['Name'] == employee) & (work_status_df['Working Flag'] == 1)]
    
    remaining_time = 0
    current_time = datetime.strptime(current_time, '%H:%M:%S')  # Convert to datetime object
    
    for _, row in employee_schedule.iterrows():
        shift_start = datetime.strptime(row['Start_time'], '%H:%M:%S')
        shift_end = datetime.strptime(row['End_time'], '%H:%M:%S')
        
        if shift_start >= current_time:
            remaining_time += (shift_end - shift_start).total_seconds() / 3600  # Convert seconds to hours
    
    return remaining_time

# Add 'Remaining_hours_left' column to greeter_priority_df
greeter_priority_df['Remaining_hours_left'] = greeter_priority_df.apply(
    lambda row: calculate_remaining_hours(row['Employee'], row['End_time'], work_status_copy_df), axis=1
)

# Display the updated dataframe
greeter_priority_df.head(15)

   Start_time  End_time               Employee  Remaining_hours_left
0    08:30:00  09:00:00   Andrew (AJ) # Bowlen                   5.0
1    08:30:00  09:00:00  Analuisa Flores Teran                   2.0
2    08:30:00  09:00:00         Finn Broderick                   2.0
3    08:30:00  09:00:00          Ricardo Gomez                   3.0
4    08:30:00  09:00:00         Solymar Kneale                   2.5
5    09:00:00  09:30:00   Andrew (AJ) # Bowlen                   4.5
6    09:00:00  09:30:00  Analuisa Flores Teran                   1.5
7    09:00:00  09:30:00         Finn Broderick                   1.5
8    09:00:00  09:30:00          Ricardo Gomez                   2.5
9    09:00:00  09:30:00         Solymar Kneale                   2.0
10   09:00:00  09:30:00            Carson Turk                   3.5
11   09:00:00  09:30:00            Dev Mahajan                   0.0
12   09:00:00  09:30:00           Ethan Palmer                   2.5
13   09:30:00  10:00:00   Andrew (AJ) # Bowlen                   4.0
14   09:30:00  10:00:00  Analuisa Flores Teran                   1.0
15   09:30:00  10:00:00         Finn Broderick                   1.0
16   09:30:00  10:00:00          Ricardo Gomez                   2.0
17   09:30:00  10:00:00         Solymar Kneale                   1.5
18   09:30:00  10:00:00            Carson Turk                   3.0
19   09:30:00  10:00:00           Ethan Palmer                   2.0

In [21]:
# Convert 'Start_time' and 'End_time' to time objects in the main dataframe
greeter_priority_df['Start_time'] = pd.to_datetime(greeter_priority_df['Start_time'], format='%H:%M:%S').dt.time
greeter_priority_df['End_time'] = pd.to_datetime(greeter_priority_df['End_time'], format='%H:%M:%S').dt.time

def assign_priority(df, filtered_df, greeter_shift_done_dict):
    # Initialize the priority column
    df['Priority'] = 0  # Initialize the Priority column with zeros
    
    # Group by Start_time and End_time
    for (start, end), group in df.groupby(['Start_time', 'End_time']):
            group_with_non_zero_hours = group[group['Remaining_hours_left'] > 0].sort_values(by='Remaining_hours_left', ascending=True)
            group_with_zero_hours = group[group['Remaining_hours_left'] == 0]
            if not group_with_non_zero_hours.empty:
                group_with_non_zero_hours['Priority'] = group_with_non_zero_hours['Remaining_hours_left'].rank(method='dense', ascending=True).astype(int)
                df.loc[group_with_non_zero_hours.index, 'Priority'] = group_with_non_zero_hours['Priority']
            if not group_with_zero_hours.empty:
                max_priority = group_with_non_zero_hours['Priority'].max() if not group_with_non_zero_hours.empty else 1
                group_with_zero_hours['Priority'] = max_priority + 1
                df.loc[group_with_zero_hours.index, 'Priority'] = group_with_zero_hours['Priority']

    return df  # Return the modified DataFrame with the Priority column

In [10]:
def process_time_periods(greeter_priority_df, greeter_assignment, filtered_df, greeter_shift_done_dict):
    
    # Assign priorities before processing time periods
    greeter_priority_df = assign_priority(greeter_priority_df, filtered_df, greeter_shift_done_dict)

    time_periods = greeter_assignment[['From_Time', 'To_Time', 'Greeter_Up_Needed', 'Greeter_Down_Needed']].drop_duplicates()

    for idx, period in time_periods.iterrows():
        # Extract needed counts for upstairs and downstairs greeters
        up_needed = int(period['Greeter_Up_Needed'])
        down_needed = int(period['Greeter_Down_Needed'])

        current_period_data = greeter_priority_df[
            (greeter_priority_df['Start_time'] == period['From_Time']) &
            (greeter_priority_df['End_time'] == period['To_Time'])
        ]

        # Debug: Check current period data
        print(f"Current Period: {period['From_Time']} to {period['To_Time']}")
        print("Current Period Data:\n", current_period_data)

        # Sort employees by priority
        sorted_employees = current_period_data.sort_values('Priority')

        # Assign upstairs greeters based on needed count
        upstairs_greeters = sorted_employees.head(up_needed)['Employee'].tolist()
        print("Upstairs Greeters Assigned:", upstairs_greeters)

        # Filter out already assigned upstairs greeters for downstairs assignments
        remaining_employees = sorted_employees[~sorted_employees['Employee'].isin(upstairs_greeters)]

        # Assign downstairs greeters based on needed count
        downstairs_greeters = remaining_employees.head(down_needed)['Employee'].tolist() if down_needed > 0 else []
        print("Downstairs Greeters Assigned:", downstairs_greeters)
        print("-----------------------------------------------------------------------------")

        # Update the greeter_assignment DataFrame with assigned greeters
        greeter_assignment.at[idx, 'Upstairs Greeter'] = upstairs_greeters[0] if upstairs_greeters else None
        greeter_assignment.at[idx, 'Downstairs Greeter'] = downstairs_greeters[0] if downstairs_greeters else None

        # Update shift counts for assigned employees
        for employee in upstairs_greeters + downstairs_greeters:
            if employee:  # Only update for actual assignments
                greeter_shift_done_dict[employee] += 1

        # Update the priorities for assigned greeters
        for employee in upstairs_greeters + downstairs_greeters:
            if employee:  # Only update for actual assignments
                greeter_priority_df.loc[greeter_priority_df['Employee'] == employee, 'Priority'] = greeter_priority_df['Priority'].max() + 1

    return greeter_assignment, greeter_shift_done_dict

# Example call to the function
greeter_assignment, greeter_shift_done_dict = process_time_periods(
    greeter_priority_df, 
    greeter_assignment, 
    filtered_df, 
    greeter_shift_done_dict
)

# Output results
greeter_assignment.head(50)

Current Period: 07:30:00 to 08:00:00
Current Period Data:
 Empty DataFrame
Columns: [Start_time, End_time, Employee, Remaining_hours_left, Priority]
Index: []
Upstairs Greeters Assigned: []
Downstairs Greeters Assigned: []
-----------------------------------------------------------------------------
Current Period: 08:00:00 to 08:30:00
Current Period Data:
 Empty DataFrame
Columns: [Start_time, End_time, Employee, Remaining_hours_left, Priority]
Index: []
Upstairs Greeters Assigned: []
Downstairs Greeters Assigned: []
-----------------------------------------------------------------------------
Current Period: 08:30:00 to 09:00:00
Current Period Data:
   Start_time  End_time               Employee  Remaining_hours_left  Priority
0   08:30:00  09:00:00   Andrew (AJ) # Bowlen                   5.0         4
1   08:30:00  09:00:00  Analuisa Flores Teran                   2.0         1
2   08:30:00  09:00:00         Finn Broderick                   2.0         1
3   08:30:00  09:00:00          Ricardo Gomez                   3.0         3
4   08:30:00  09:00:00         Solymar Kneale                   2.5         2
Upstairs Greeters Assigned: ['Analuisa Flores Teran']
Downstairs Greeters Assigned: ['Finn Broderick']
-----------------------------------------------------------------------------
Current Period: 09:00:00 to 09:30:00
Current Period Data:
    Start_time  End_time               Employee  Remaining_hours_left  Priority
5    09:00:00  09:30:00   Andrew (AJ) # Bowlen                   4.5         5
6    09:00:00  09:30:00  Analuisa Flores Teran                   1.5         8
7    09:00:00  09:30:00         Finn Broderick                   1.5         9
8    09:00:00  09:30:00          Ricardo Gomez                   2.5         3
9    09:00:00  09:30:00         Solymar Kneale                   2.0         2
10   09:00:00  09:30:00            Carson Turk                   3.5         4
11   09:00:00  09:30:00            Dev Mahajan                   0.0         6
12   09:00:00  09:30:00           Ethan Palmer                   2.5         3
Upstairs Greeters Assigned: ['Solymar Kneale']
Downstairs Greeters Assigned: ['Ricardo Gomez']
-----------------------------------------------------------------------------
Current Period: 09:30:00 to 10:00:00
Current Period Data:
    Start_time  End_time               Employee  Remaining_hours_left  Priority
13   09:30:00  10:00:00   Andrew (AJ) # Bowlen                   4.0         5
14   09:30:00  10:00:00  Analuisa Flores Teran                   1.0         8
15   09:30:00  10:00:00         Finn Broderick                   1.0         9
16   09:30:00  10:00:00          Ricardo Gomez                   2.0        11
17   09:30:00  10:00:00         Solymar Kneale                   1.5        10
18   09:30:00  10:00:00            Carson Turk                   3.0         4
19   09:30:00  10:00:00           Ethan Palmer                   2.0         3
Upstairs Greeters Assigned: ['Ethan Palmer']
Downstairs Greeters Assigned: ['Carson Turk']
-----------------------------------------------------------------------------
Current Period: 10:00:00 to 10:30:00
Current Period Data:
    Start_time  End_time               Employee  Remaining_hours_left  Priority
20   10:00:00  10:30:00   Andrew (AJ) # Bowlen                   3.5         6
21   10:00:00  10:30:00  Analuisa Flores Teran                   0.5         8
22   10:00:00  10:30:00         Finn Broderick                   0.5         9
23   10:00:00  10:30:00          Ricardo Gomez                   1.5        11
24   10:00:00  10:30:00         Solymar Kneale                   1.0        10
25   10:00:00  10:30:00            Carson Turk                   2.5        13
26   10:00:00  10:30:00           Ethan Palmer                   1.5        12
27   10:00:00  10:30:00          Ana* Gonzalez                   3.0         5
28   10:00:00  10:30:00      Marsailles Wesley                   1.5         3
Upstairs Greeters Assigned: ['Marsailles Wesley']
Downstairs Greeters Assigned: ['Ana* Gonzalez']
-----------------------------------------------------------------------------
Current Period: 10:30:00 to 11:00:00
Current Period Data:
    Start_time  End_time               Employee  Remaining_hours_left  Priority
29   10:30:00  11:00:00   Andrew (AJ) # Bowlen                   3.0         4
30   10:30:00  11:00:00  Analuisa Flores Teran                   0.0         8
31   10:30:00  11:00:00         Finn Broderick                   0.0         9
32   10:30:00  11:00:00          Ricardo Gomez                   1.0        11
33   10:30:00  11:00:00            Carson Turk                   2.0        13
34   10:30:00  11:00:00           Ethan Palmer                   1.0        12
35   10:30:00  11:00:00          Ana* Gonzalez                   2.5        15
36   10:30:00  11:00:00      Marsailles Wesley                   1.0        14
37   10:30:00  11:00:00    Josiah Galvan-Lewis                   5.0         5
38   10:30:00  11:00:00         Kaeden Stander                   1.0         1
Upstairs Greeters Assigned: ['Kaeden Stander']
Downstairs Greeters Assigned: ['Andrew (AJ) # Bowlen']
-----------------------------------------------------------------------------
Current Period: 11:00:00 to 11:30:00
Current Period Data:
    Start_time  End_time              Employee  Remaining_hours_left  Priority
39   11:00:00  11:30:00  Andrew (AJ) # Bowlen                   2.5        17
40   11:00:00  11:30:00         Ricardo Gomez                   0.5        11
41   11:00:00  11:30:00           Carson Turk                   1.5        13
42   11:00:00  11:30:00          Ethan Palmer                   0.5        12
43   11:00:00  11:30:00     Marsailles Wesley                   0.5        14
44   11:00:00  11:30:00   Josiah Galvan-Lewis                   4.5         5
45   11:00:00  11:30:00        Kaeden Stander                   0.5        16
46   11:00:00  11:30:00       Hanah # Wilkins                   3.0         4
47   11:00:00  11:30:00        Kevin^ Jenkins                   2.5         3
48   11:00:00  11:30:00            Luke* Ruhl                   2.5         3
Upstairs Greeters Assigned: ['Kevin^ Jenkins']
Downstairs Greeters Assigned: ['Luke* Ruhl']
-----------------------------------------------------------------------------
Current Period: 11:30:00 to 12:00:00
Current Period Data:
    Start_time  End_time              Employee  Remaining_hours_left  Priority
49   11:30:00  12:00:00  Andrew (AJ) # Bowlen                   2.0        17
50   11:30:00  12:00:00         Ricardo Gomez                   0.0        11
51   11:30:00  12:00:00           Carson Turk                   1.0        13
52   11:30:00  12:00:00          Ethan Palmer                   0.0        12
53   11:30:00  12:00:00     Marsailles Wesley                   0.0        14
54   11:30:00  12:00:00   Josiah Galvan-Lewis                   4.0         5
55   11:30:00  12:00:00        Kaeden Stander                   0.0        16
56   11:30:00  12:00:00       Hanah # Wilkins                   2.5         4
57   11:30:00  12:00:00        Kevin^ Jenkins                   2.0        18
58   11:30:00  12:00:00            Luke* Ruhl                   2.0        19
59   11:30:00  12:00:00       Joaquin Mendoza                   2.0         3
60   11:30:00  12:00:00         Miguel Tanner                   0.5         1
Upstairs Greeters Assigned: ['Miguel Tanner']
Downstairs Greeters Assigned: ['Joaquin Mendoza']
-----------------------------------------------------------------------------
Current Period: 12:00:00 to 12:30:00
Current Period Data:
    Start_time  End_time              Employee  Remaining_hours_left  Priority
61   12:00:00  12:30:00  Andrew (AJ) # Bowlen                   1.5        17
62   12:00:00  12:30:00           Carson Turk                   0.5        13
63   12:00:00  12:30:00   Josiah Galvan-Lewis                   3.5         4
64   12:00:00  12:30:00       Hanah # Wilkins                   2.0         3
65   12:00:00  12:30:00        Kevin^ Jenkins                   1.5        18
66   12:00:00  12:30:00            Luke* Ruhl                   1.5        19
67   12:00:00  12:30:00       Joaquin Mendoza                   1.5        21
68   12:00:00  12:30:00         Miguel Tanner                   0.0        20
69   12:00:00  12:30:00         Elijah Kodjak                   1.5         2
70   12:00:00  12:30:00         Lauren* Koski                   0.5         1
Upstairs Greeters Assigned: ['Lauren* Koski']
Downstairs Greeters Assigned: ['Elijah Kodjak']
-----------------------------------------------------------------------------
Current Period: 12:30:00 to 13:00:00
Current Period Data:
    Start_time  End_time                   Employee  Remaining_hours_left  \
71   12:30:00  13:00:00       Andrew (AJ) # Bowlen                   1.0
72   12:30:00  13:00:00             Solymar Kneale                   0.5
73   12:30:00  13:00:00                Carson Turk                   0.0
74   12:30:00  13:00:00        Josiah Galvan-Lewis                   3.0
75   12:30:00  13:00:00            Hanah # Wilkins                   1.5
76   12:30:00  13:00:00             Kevin^ Jenkins                   1.0
77   12:30:00  13:00:00                 Luke* Ruhl                   1.0
78   12:30:00  13:00:00            Joaquin Mendoza                   1.0
79   12:30:00  13:00:00              Elijah Kodjak                   1.0
80   12:30:00  13:00:00              Lauren* Koski                   0.0
81   12:30:00  13:00:00           Cristian Andrade                   2.0
82   12:30:00  13:00:00  Lulu (Lyndsey)* Arterburn                   2.0

    Priority
71        17
72        10
73        13
74         5
75         3
76        18
77        19
78        21
79        23
80        22
81         4
82         4
Upstairs Greeters Assigned: ['Hanah # Wilkins']
Downstairs Greeters Assigned: ['Cristian Andrade']
-----------------------------------------------------------------------------
Current Period: 13:00:00 to 13:30:00
Current Period Data:
    Start_time  End_time                   Employee  Remaining_hours_left  \
83   13:00:00  13:30:00       Andrew (AJ) # Bowlen                   0.5
84   13:00:00  13:30:00             Solymar Kneale                   0.0
85   13:00:00  13:30:00        Josiah Galvan-Lewis                   2.5
86   13:00:00  13:30:00            Hanah # Wilkins                   1.0
87   13:00:00  13:30:00             Kevin^ Jenkins                   0.5
88   13:00:00  13:30:00              Elijah Kodjak                   0.5
89   13:00:00  13:30:00           Cristian Andrade                   1.5
90   13:00:00  13:30:00  Lulu (Lyndsey)* Arterburn                   1.5
91   13:00:00  13:30:00             AJ # Alkhamees                   0.5
92   13:00:00  13:30:00            Joaquin Salinas                   0.0

    Priority
83        17
84        10
85         4
86        24
87        18
88        23
89        25
90         3
91         1
92         5
Upstairs Greeters Assigned: ['AJ # Alkhamees']
Downstairs Greeters Assigned: ['Lulu (Lyndsey)* Arterburn']
-----------------------------------------------------------------------------
Current Period: 13:30:00 to 14:00:00
Current Period Data:
     Start_time  End_time                   Employee  Remaining_hours_left  \
93    13:30:00  14:00:00       Andrew (AJ) # Bowlen                   0.0
94    13:30:00  14:00:00              Ana* Gonzalez                   2.0
95    13:30:00  14:00:00        Josiah Galvan-Lewis                   2.0
96    13:30:00  14:00:00            Hanah # Wilkins                   0.5
97    13:30:00  14:00:00             Kevin^ Jenkins                   0.0
98    13:30:00  14:00:00              Elijah Kodjak                   0.0
99    13:30:00  14:00:00           Cristian Andrade                   1.0
100   13:30:00  14:00:00  Lulu (Lyndsey)* Arterburn                   1.0
101   13:30:00  14:00:00             AJ # Alkhamees                   0.0
102   13:30:00  14:00:00             Cassidy Jacobs                   4.5
103   13:30:00  14:00:00             Mariana Cepeda                   3.0
104   13:30:00  14:00:00              Scott Hackney                   2.5
105   13:30:00  14:00:00              Summer Sutton                   1.0

     Priority
93         17
94         15
95          3
96         24
97         18
98         23
99         25
100        27
101        26
102         6
103         5
104         4
105         2
Upstairs Greeters Assigned: ['Summer Sutton']
Downstairs Greeters Assigned: ['Josiah Galvan-Lewis']
-----------------------------------------------------------------------------
Current Period: 14:00:00 to 14:30:00
Current Period Data:
     Start_time  End_time                  Employee  Remaining_hours_left  \
106   14:00:00  14:30:00             Ana* Gonzalez                   1.5
107   14:00:00  14:30:00       Josiah Galvan-Lewis                   1.5
108   14:00:00  14:30:00           Hanah # Wilkins                   0.0
109   14:00:00  14:30:00                Luke* Ruhl                   0.5
110   14:00:00  14:30:00          Cristian Andrade                   0.5
111   14:00:00  14:30:00            Cassidy Jacobs                   4.0
112   14:00:00  14:30:00            Mariana Cepeda                   2.5
113   14:00:00  14:30:00             Scott Hackney                   2.0
114   14:00:00  14:30:00             Summer Sutton                   0.5
115   14:00:00  14:30:00          Anahi Guitierrez                   2.5
116   14:00:00  14:30:00             Diego Navarro                   2.5
117   14:00:00  14:30:00             Lohith Ramesh                   1.5
118   14:00:00  14:30:00  Saaijeesh Sottalu Naresh                   3.0

     Priority
106        15
107        29
108        24
109        19
110        25
111         6
112         4
113         3
114        28
115         4
116         4
117         2
118         5
Upstairs Greeters Assigned: ['Lohith Ramesh']
Downstairs Greeters Assigned: ['Scott Hackney']
-----------------------------------------------------------------------------
Current Period: 14:30:00 to 15:00:00
Current Period Data:
     Start_time  End_time                  Employee  Remaining_hours_left  \
119   14:30:00  15:00:00             Ana* Gonzalez                   1.0
120   14:30:00  15:00:00       Josiah Galvan-Lewis                   1.0
121   14:30:00  15:00:00                Luke* Ruhl                   0.0
122   14:30:00  15:00:00          Cristian Andrade                   0.0
123   14:30:00  15:00:00            Cassidy Jacobs                   3.5
124   14:30:00  15:00:00            Mariana Cepeda                   2.0
125   14:30:00  15:00:00             Scott Hackney                   1.5
126   14:30:00  15:00:00             Summer Sutton                   0.0
127   14:30:00  15:00:00          Anahi Guitierrez                   2.0
128   14:30:00  15:00:00             Diego Navarro                   2.0
129   14:30:00  15:00:00             Lohith Ramesh                   1.0
130   14:30:00  15:00:00  Saaijeesh Sottalu Naresh                   2.5
131   14:30:00  15:00:00            Cassidy Sylves                   3.5

     Priority
119        15
120        29
121        19
122        25
123         5
124         3
125        31
126        28
127         3
128         3
129        30
130         4
131         5
Upstairs Greeters Assigned: ['Mariana Cepeda']
Downstairs Greeters Assigned: ['Anahi Guitierrez']
-----------------------------------------------------------------------------
Current Period: 15:00:00 to 15:30:00
Current Period Data:
     Start_time  End_time                  Employee  Remaining_hours_left  \
132   15:00:00  15:30:00             Ana* Gonzalez                   0.5
133   15:00:00  15:30:00       Josiah Galvan-Lewis                   0.5
134   15:00:00  15:30:00           Joaquin Mendoza                   0.5
135   15:00:00  15:30:00            Cassidy Jacobs                   3.0
136   15:00:00  15:30:00            Mariana Cepeda                   1.5
137   15:00:00  15:30:00             Scott Hackney                   1.0
138   15:00:00  15:30:00          Anahi Guitierrez                   1.5
139   15:00:00  15:30:00             Diego Navarro                   1.5
140   15:00:00  15:30:00             Lohith Ramesh                   0.5
141   15:00:00  15:30:00  Saaijeesh Sottalu Naresh                   2.0
142   15:00:00  15:30:00            Cassidy Sylves                   3.0
143   15:00:00  15:30:00               Zadie Knapp                   1.0

     Priority
132        15
133        29
134        21
135         5
136        32
137        31
138        33
139         3
140        30
141         4
142         5
143         2
Upstairs Greeters Assigned: ['Zadie Knapp']
Downstairs Greeters Assigned: ['Diego Navarro']
-----------------------------------------------------------------------------
Current Period: 15:30:00 to 16:00:00
Current Period Data:
     Start_time  End_time                  Employee  Remaining_hours_left  \
144   15:30:00  16:00:00             Ana* Gonzalez                   0.0
145   15:30:00  16:00:00       Josiah Galvan-Lewis                   0.0
146   15:30:00  16:00:00           Joaquin Mendoza                   0.0
147   15:30:00  16:00:00            Cassidy Jacobs                   2.5
148   15:30:00  16:00:00            Mariana Cepeda                   1.0
149   15:30:00  16:00:00             Scott Hackney                   0.5
150   15:30:00  16:00:00          Anahi Guitierrez                   1.0
151   15:30:00  16:00:00             Diego Navarro                   1.0
152   15:30:00  16:00:00             Lohith Ramesh                   0.0
153   15:30:00  16:00:00  Saaijeesh Sottalu Naresh                   1.5
154   15:30:00  16:00:00            Cassidy Sylves                   2.5
155   15:30:00  16:00:00               Zadie Knapp                   0.5
156   15:30:00  16:00:00           Serenity* Munoz                   2.5

     Priority
144        15
145        29
146        21
147         4
148        32
149        31
150        33
151        35
152        30
153         3
154         4
155        34
156         4
Upstairs Greeters Assigned: ['Saaijeesh Sottalu Naresh']
Downstairs Greeters Assigned: ['Cassidy Jacobs']
-----------------------------------------------------------------------------
Current Period: 16:00:00 to 16:30:00
Current Period Data:
     Start_time  End_time           Employee  Remaining_hours_left  Priority
157   16:00:00  16:30:00     Cassidy Jacobs                   2.0        37
158   16:00:00  16:30:00     Mariana Cepeda                   0.5        32
159   16:00:00  16:30:00      Scott Hackney                   0.0        31
160   16:00:00  16:30:00   Anahi Guitierrez                   0.5        33
161   16:00:00  16:30:00      Diego Navarro                   0.5        35
162   16:00:00  16:30:00     Cassidy Sylves                   2.0         3
163   16:00:00  16:30:00        Zadie Knapp                   0.0        34
164   16:00:00  16:30:00    Serenity* Munoz                   2.0         3
165   16:00:00  16:30:00    Elizabeth Jurry                   2.0         3
166   16:00:00  16:30:00  Madelyn* Ozdarski                   1.5         2
167   16:00:00  16:30:00       Naman Talwar                   2.0         3
Upstairs Greeters Assigned: ['Madelyn* Ozdarski']
Downstairs Greeters Assigned: ['Cassidy Sylves']
-----------------------------------------------------------------------------
Current Period: 16:30:00 to 17:00:00
Current Period Data:
     Start_time  End_time           Employee  Remaining_hours_left  Priority
168   16:30:00  17:00:00     Cassidy Jacobs                   1.5        37
169   16:30:00  17:00:00     Mariana Cepeda                   0.0        32
170   16:30:00  17:00:00   Anahi Guitierrez                   0.0        33

,From_Time,To_Time,Greeter_Down_Needed,Greeter_Up_Needed,Upstairs Greeter,Downstairs Greeter
0,07:30:00,08:00:00,0,0,None,None
1,08:00:00,08:30:00,0,0,None,None
2,08:30:00,09:00:00,1,1,Analuisa Flores Teran,Finn Broderick
3,09:00:00,09:30:00,1,1,Solymar Kneale,Ricardo Gomez
4,09:30:00,10:00:00,1,1,Ethan Palmer,Carson Turk
5,10:00:00,10:30:00,1,1,Marsailles Wesley,Ana* Gonzalez
6,10:30:00,11:00:00,1,1,Kaeden Stander,Andrew (AJ) # Bowlen
7,11:00:00,11:30:00,1,1,Kevin^ Jenkins,Luke* Ruhl
8,11:30:00,12:00:00,1,1,Miguel Tanner,Joaquin Mendoza
9,12:00:00,12:30:00,1,1,Lauren* Koski,Elijah Kodjak
10,12:30:00,13:00:00,1,1,Hanah # Wilkins,Cristian Andrade
11,13:00:00,13:30:00,1,1,AJ # Alkhamees,Lulu (Lyndsey)* Arterburn
12,13:30:00,14:00:00,1,1,Summer Sutton,Josiah Galvan-Lewis
13,14:00:00,14:30:00,1,1,Lohith Ramesh,Scott Hackney
14,14:30:00,15:00:00,1,1,Mariana Cepeda,Anahi Guitierrez
15,15:00:00,15:30:00,1,1,Zadie Knapp,Diego Navarro
16,15:30:00,16:00:00,1,1,Saaijeesh Sottalu Naresh,Cassidy Jacobs
17,16:00:00,16:30:00,1,1,Madelyn* Ozdarski,Cassidy Sylves
18,16:30:00,17:00:00,1,1,Serenity* Munoz,Elizabeth Jurry
19,17:00:00,17:30:00,1,1,Naman Talwar,Aaron* Dorrance
20,17:30:00,18:00:00,1,1,Calvin # Levy,Ellia* Bono
21,18:00:00,18:30:00,1,1,Kayhaan Rashiq,Mali Chavez
22,18:30:00,19:00:00,1,1,None,None
23,19:00:00,19:30:00,1,1,None,None

In [11]:
greeter_shift_done_dict

{'Andrew (AJ) # Bowlen': 1,
 'Analuisa Flores Teran': 1,
 'Finn Broderick': 1,
 'Ricardo Gomez': 1,
 'Solymar Kneale': 1,
 'Carson Turk': 1,
 'Dev Mahajan': 0,
 'Ethan Palmer': 1,
 'Ana* Gonzalez': 1,
 'Marsailles Wesley': 1,
 'Josiah Galvan-Lewis': 1,
 'Kaeden Stander': 1,
 'Hanah # Wilkins': 1,
 'Kevin^ Jenkins': 1,
 'Luke* Ruhl': 1,
 'Joaquin Mendoza': 1,
 'Miguel Tanner': 1,
 'Elijah Kodjak': 1,
 'Lauren* Koski': 1,
 'Cristian Andrade': 1,
 'Lulu (Lyndsey)* Arterburn': 1,
 'AJ # Alkhamees': 1,
 'Joaquin Salinas': 0,
 'Cassidy Jacobs': 1,
 'Mariana Cepeda': 1,
 'Scott Hackney': 1,
 'Summer Sutton': 1,
 'Anahi Guitierrez': 1,
 'Diego Navarro': 1,
 'Lohith Ramesh': 1,
 'Saaijeesh Sottalu Naresh': 1,
 'Cassidy Sylves': 1,
 'Zadie Knapp': 1,
 'Serenity* Munoz': 1,
 'Elizabeth Jurry': 1,
 'Madelyn* Ozdarski': 1,
 'Naman Talwar': 1,
 'Aaron* Dorrance': 1,
 'Calvin # Levy': 1,
 'Ellia* Bono': 1,
 'Kayhaan Rashiq': 1,
 'Mali Chavez': 1}